body{
 background-color: $primary-color;
 padding: 0;
 margin: 0;
 color: $secondary-color;
 position: relative;
 font-family: 'Roboto', sans-serif;
}

a{
 &:focus,&:hover{
  border: 0;
  outline: 0;
  text-decoration: none;
 }
}
/*.main-wrapper{
 position: relative;
}*/
#section0{
 background-color: #EEEFF5;
}
#section1{
 background-color: #EEEFF5;
 position: relative;

 &::after {
  content: "";
  background-image: image-url('intigral-logoBG2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  30% 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
  /*-webkit-filter: blur(5px);
  filter: blur(5px);*/
 }
 
 .wrapper{
  justify-content: center;
  align-items: center;
  padding: 0;
  
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   justify-content: center;
   align-items: center;
   padding: 0 0 20px;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   justify-content: center;
   align-items: center;
   padding: 0;
  }
 }
}
#section2{
 background-color: #41516A;
 position: relative;
 
 &::after {
  content: "";
  background-image: image-url('intigral-logoBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  30% 40px;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
 }
 
 .wrapper{
  justify-content: center;
  align-items: center;
  padding: 0;
  
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   justify-content: center;
   align-items: center;
   padding: 0;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   justify-content: center;
   align-items: center;
   padding: 0;
  }
 }
}
#section3{
 background-color: #E1E2EC;
}

.wrapper{
 display: flex;
 height: 100%;
 position: relative;
 align-items: flex-start;
 justify-content: flex-start;
 padding: 5% 0 0 0;
 z-index: 99;
 
 @media all and (max-width: $screen-xss-max){
  padding: 35px 0 0 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  padding: 35px 0 0 0;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  padding: 7% 0 0 0;
 }
}
.rocket-tv{
 display: flex;
 height: 100%;
 background-color: #00629b;
 position: relative;
 align-items: center;
 justify-content: flex-start;
 background-image: image-url('rocket-gr-bg.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
 @media all and (max-width: $screen-xss-max){
  align-items: flex-end;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  align-items: flex-end;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
 
 .content{
  @media all and (max-width: $screen-xss-max){
   height: 83%;
   position: relative;
  }
  .title{
   color: #ffffff;
  }
  
  .avail-on h4{
   color: #c7c9da;
  }
  
  .callouts{
   @media all and (max-width: $screen-xss-max){
    padding-top: 45%;
   }
  }
 }
}
.dawriplus{
 display: flex;
 height: 100%;
 position: relative;
 align-items: center;
 justify-content: flex-start;
 z-index: 6;
 background-image: image-url('dawri-plus-gr-bg.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
 .content{
  .title{
   color: #ffffff;
  }
  
  .avail-on h4{
   color: #c7c9da;
  }
  
  .callouts{
   @media all and (max-width: $screen-xss-max){
    padding-top: 40%;
   }
  }
 }
}
.dcb{
 display: flex;
 height: 100%;
 background-color: #171819;
 position: relative;
 align-items: center;
 justify-content: flex-start;
 z-index: 7;
 background-image: image-url('d-c-b-bg.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
 @media all and (max-width: $screen-xss-max){
  align-items: flex-start;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  align-items: flex-start;
 }
 
 .content{
  width: 50%;
  
  @media all and (max-width: $screen-xss-max){
   width: 100%;
   padding: 60px 20px 0 20px;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   width: 100%;
   padding: 60px 20px 0 20px;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   width: 80%;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   width: 80%;
  }
  
  .avail-on{
   padding-top: 2%;
  }
  
  .callouts{
   padding-top: 5%;
   
   @media all and (max-width: $screen-xss-max){
    padding-top: 32%;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    padding-top: 35%;
   }
  }
 }
}


/*Animation start*/
#section0.active .active{
 #setupbox{
  right: 8%;
  bottom: -17%;
  transition: all 0.7s ease-out;

  @media all and (max-width: $screen-xss-max){
   background-image: image-url('m-s-t-b.png');
   width: 578px;
   height: 264px;
   bottom: 13%;
   left: 18%;
   right: auto;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   background-image: image-url('m-s-t-b.png');
   width: 578px;
   height: 264px;
   right: -40%;
   bottom: 0%;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   background-image: image-url('t-s-t-b.png');
   right: -40%;
   bottom: 28%;
   width: 812px;
   height: 371px;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   right: -13%;
   bottom: -25%;
  }
  @media all and (min-width: 1920px) and (max-width: 2499px) {
   right: 10%;
   bottom: -10%;
  }
  @media all and (min-width: 2500px) {
   right: 10%;
   bottom: 15%;
  }
 }
 #setupbox-remote{
  position: absolute;
  right: 0;
  top: 20%;

  @media all and (max-width: $screen-xss-max){
   display: none;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   display: none;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   display: none;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   right: -13%;
   bottom: -17%;
  }
  @media all and (min-width: 1920px) and (max-width: 2499px) {
   right: 0;
   top: 10%;
  }
  @media all and (min-width: 2500px) {
   right: 0;
   top: 15%;
  }
 }
 #dawri-ipad{
  right: -38%;
  bottom: -20%;
  transition: all 0.7s ease-out;

  @media all and (max-width: $screen-xss-max){
   background-image: image-url('dawri-iphone.png');
   width: 813px;
   height: 514px;
   bottom: -35%;
   left: 0%;
   right: auto;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   background-image: image-url('dawri-iphone.png');
   width: 813px;
   height: 514px;
   right: -75%;
   bottom: -70%;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   background-image: image-url('dawri-iphone.png');
   right: -40%;
   bottom: 7%;
   width: 813px;
   height: 514px;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   left: 45%;
   bottom: -17%;
   right: auto;
  }
  @media all and (min-width: 1920px) and (max-width: 2499px) {
   right: -20%;
   bottom: -10%;
  }
  @media all and (min-width: 2500px) {
   right: -10%;
   bottom: 15%;
  }
 }
 #dawri-iphone{
  position: absolute;
  right: -5%;
  top: 20%;
  width: 813px;
  height: 514px;
  background-image: image-url('dawri-iphone.png');
  background-repeat: no-repeat;
  background-position: center right;
  z-index: 2;

  @media all and (max-width: $screen-xss-max){
   display: none;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   display: none;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   display: none;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   right: -33%;
   bottom: -17%;
  }
  @media all and (min-width: 1920px) and (max-width: 2499px) {
   right: 0%;
   bottom: -20%;
  }
  @media all and (min-width: 2500px) {
   right: 5%;
   top: 25%;
  }
 }
 .content{
  margin-left: 10%;
  transition: all 0.7s ease-out;
 }
}
#section2.active{
 .clients-list{
  li{
   margin: 7px;
   transition: all 0.7s ease-out;
   
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    margin: 7px;
   }
  }
 }
}
#section1.active{
 .video-blocks{
  .second{
   margin: 0;
   transition: all 0.7s ease-out;
   
   @media all and (max-width: $screen-xss-max){
    margin: 0 auto;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    margin: 0 auto;
   }
  }
 }
}
/*Animation End*/

#setupbox{
 position: absolute;
 right: 0;
 bottom: 0;
 width: 650px;
 height: 789px;
 background-image: image-url('device-01.png');
 background-repeat: no-repeat;
 background-position: center right;
 z-index: 1;
 transition: all 0.7s ease-out;
 
 @media all and (max-width: $screen-xss-max){
  background-image: image-url('m-s-t-b.png');
  width: 578px;
  height: 264px;
  bottom: 13%;
  left: 18%;
  right: auto;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  background-image: image-url('m-s-t-b.png');
  width: 578px;
  height: 264px;
  right: -40%;
  bottom: 0%;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  background-image: image-url('t-s-t-b.png');
  right: -40%;
  bottom: 28%;
  width: 812px;
  height: 371px;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  right: 0;
  bottom: 0;
 }
 @media all and (min-width: 1920px) and (max-width: 2499px) {
  right: 0;
  bottom: 0;
 }
 @media all and (min-width: 2500px) {
  right: 0;
  bottom: 0;
 }
}
#setupbox-remote{
 position: absolute;
 right: 0;
 top: 0;
 width: 322px;
 height: 1033px;
 background-image: image-url('remote-rockettv.png');
 background-repeat: no-repeat;
 background-position: center right;
 z-index: 2;
 transition: all 0.7s ease-out;

 @media all and (max-width: $screen-xss-max){
  display: none;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  display: none;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  display: none;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  right: -13%;
  bottom: -17%;
 }
 @media all and (min-width: 1920px) and (max-width: 2499px) {
  right: 0;
  top: 0;
 }
 @media all and (min-width: 2500px) {
  right: 0;
  top: 0;
 }
}
#dawri-ipad{
 position: absolute;
 right: 0;
 bottom: 0;
 width: 1363px;
 height: 785px;
 background-image: image-url('dawri-ipad.png');
 background-repeat: no-repeat;
 background-position: center right;
 z-index: 1;
 transition: all 0.7s ease-out;

 @media all and (max-width: $screen-xss-max){
  background-image: image-url('dawri-iphone.png');
  width: 813px;
  height: 514px;
  bottom: -35%;
  left: 0%;
  right: auto;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  background-image: image-url('dawri-iphone.png');
  width: 813px;
  height: 514px;
  right: -75%;
  bottom: -70%;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  background-image: image-url('dawri-iphone.png');
  right: -40%;
  bottom: 7%;
  width: 813px;
  height: 514px;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  left: 45%;
  bottom: -17%;
  right: auto;
 }
 @media all and (min-width: 1920px) and (max-width: 2499px) {
  right: 0;
  bottom: 0;
 }
 @media all and (min-width: 2500px) {
  right: 0;
  bottom: 0;
 }
}
#dawri-iphone{
 position: absolute;
 right: -5%;
 top: 20%;
 width: 813px;
 height: 514px;
 background-image: image-url('dawri-iphone.png');
 background-repeat: no-repeat;
 background-position: center right;
 z-index: 2;

 @media all and (max-width: $screen-xss-max){
  display: none;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  display: none;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  display: none;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  right: -33%;
  bottom: -17%;
 }
 @media all and (min-width: 1920px) and (max-width: 2499px) {
  right: 0%;
  bottom: -20%;
 }
 @media all and (min-width: 2500px) {
  right: 5%;
  top: 25%;
 }
}
.content{
 float: left;
 width: 40%;
 margin-left: 0%;
 z-index: 5;
 transition: all 0.7s ease-out;
 
 @media all and (max-width: $screen-xss-max){
  width: 100%;
  padding: 0 20px;
  margin-left: 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  width: 100%;
  padding: 0 40px;
  margin-left: 0;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  width: 70%;
  float: none;
  margin: 0 auto;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  width: 60%;
 }
 
 h2{
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.9;
  color: #000000;
  
  &.dcb-title{
   width: 172px;
   height: 167px;
   background-image: image-url('d-c-b-logo-mainpage.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin: -18px 0px -54px -36px;

   @media all and (max-width: $screen-xss-max){
    background-image: image-url('m-d-c-b-logo-mainpage.png');
    width: 122px;
    height: 119px;
    margin: 0px auto -30px auto;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    background-image: image-url('m-d-c-b-logo-mainpage.png');
    width: 122px;
    height: 119px;
    margin: 0px auto -30px auto;
   }
  }
  
  &.dawri-title{
   width: 168px;
   height: 163px;
   background-image: image-url('dawri-mainbanner-logo.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin: -18px 0px -54px -36px;
   
   @media all and (max-width: $screen-xss-max){
    background-image: image-url('m-dawri-mainbanner-logo.png');
    width: 136px;
    height: 133px;
    margin: -18px auto -54px auto;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    background-image: image-url('m-dawri-mainbanner-logo.png');
    width: 136px;
    height: 133px;
    margin: -18px auto -54px auto;
   }
  }
  
  &.rocket-title{
   width: 166px;
   height: 24px;
   background-image: image-url('rockettv-logo.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   @media all and (max-width: $screen-xss-max){
    background-image: image-url('m-rockettv-logo.png');
    width: 111px;
    height: 16px;
    margin: 0 auto;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    background-image: image-url('m-rockettv-logo.png');
    width: 111px;
    height: 16px;
    margin: 0 auto;
   }
  }
 }
 
 .title{
  padding: 3% 0 0 0;
  margin: 0;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.15;
  color: #000000;
  
  @media all and (max-width: $screen-xss-max){
   font-size: 32px;
   line-height: 36px;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   font-size: 42px;
   line-height: 46px;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
 }
 
 .avail-on{
  padding-top: 7%;
  float: left;
  width: 100%;
  
  @media all and (max-width: $screen-xss-max){
   display: none;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   display: none;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   padding-top: 43%;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
  
  h4{
   padding: 0 0 13px;
   margin: 0;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.5;
   color: #40516b;
   letter-spacing: .5px;
  }
  
  .devices{
   display: flex;
   width: 170px;
   justify-content: space-between;
   align-items: flex-end;
   float: left;
   
   @media all and (max-width: $screen-xss-max){
    width: 100%;
    justify-content: flex-start;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 100%;
    justify-content: flex-start;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   }
   
   span{
    @media all and (max-width: $screen-xss-max){
     margin-right: 20px;
    }
    @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
     margin-right: 20px;
    }
    @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    }
    @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    }
   }
   
   .avail-tv{
    display: inline-block;
    width: 74px;
    height: 50px;
    background-image: image-url('tv-icon-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   .avail-ipad{
    display: inline-block;
    width: 30px;
    height: 38px;
    background-image: image-url('ipad-icon-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   .avail-iphone{
    display: inline-block;
    width: 18px;
    height: 28px;
    background-image: image-url('iphone-icon-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   .avail-desktop{
    display: inline-block;
    width: 66px;
    height: 41px;
    background-image: image-url('white-desktop-comp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
  }
  .stores{
   display: flex;
   float: left;
   width: 160px;
   padding-left: 30px;
   margin-left: 30px;
   justify-content: space-between;
   align-items: flex-end;
   border-left: solid 1px rgba(199, 201, 218, 0.22);
   
   @media all and (max-width: $screen-xss-max){
    width: 100%;
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: 15px;
    justify-content: flex-start;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 100%;
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: 15px;
    justify-content: flex-start;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   }
   
   span{
    @media all and (max-width: $screen-xss-max){
     margin-right: 20px;
    }
    @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
     margin-right: 20px;
    }
    @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    }
    @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    }
   }
   
   .ios{
    display: inline-block;
    width: 52px;
    height: 50px;
    background-image: image-url('apple-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   
   .android{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: image-url('google-play-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

   
   &.newIcons{
    width: 110px;
    height: 50px;
     
    .ios{
     display: inline-block;
     width: 24px;
     height: 28px;
     background-image: image-url('apple-new.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    }
    .android{
     display: inline-block;
     width: 29px;
     height: 35px;
     background-image: image-url('android-new.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    }
   }
  }
 }
 
 .callouts{
  float: left;
  width: 100%;
  padding-top: 10%;
  
  @media all and (max-width: $screen-xss-max){
   padding-top: 50%;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   padding-top: 0%;
  }
 }
}

.more-details{
 float: left;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 240px;
 height: 52px;
 background-color: #da1884;
 box-shadow: 0 18px 36px 0 rgba(218, 24, 131, 0.2);
 font-size: 14px;
 font-weight: 700;
 color: #ffffff;
 letter-spacing: 1.5px;
 padding: 0 25px 0 0;
 text-transform: uppercase;
 transition: all 0.3s ease;
 
 &:hover,&:focus{
  text-decoration: none;
  color: #ffffff;
  background-color: #c2006c;
  box-shadow: 0 6px 16px 0 rgba(0, 70, 157, 0.28);
  transition: all 0.3s ease;
  
  span{
   opacity: .5;
   transition: all 0.3s ease;
  }
 }
 
 span{
  position: absolute;
  right: 20px;
  top: 15px;
  transition: all 0.3s ease;
 }
 
 @media all and (max-width: $screen-xss-max){
  float: none;
  margin: 0 auto;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  float: none;
  margin: 0 auto;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
}
.dawriplus{
 .more-details{
  background-color: #ba1225;
 }
}
.dcb{
 .more-details{
  background-color: #4cd3d6;
  box-shadow: 0 18px 36px 0 rgba(67, 91, 116, 0.44);
 }
}
.watch-video{
 float: left;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 240px;
 height: 52px;
 background-color: transparent;
 font-size: 14px;
 font-weight: 700;
 color: #c7c9da;
 letter-spacing: 1.5px;
 padding: 0 25px 0 0;
 margin-left: 20px;
 text-transform: uppercase;
 border: solid 1px rgba(199, 201, 218, 0.2);
 transition: all 0.3s ease;

 &:hover,&:focus{
  text-decoration: none;
  color: #c7c9da;
  border: solid 1px #c7c9da;
  transition: all 0.3s ease;

  span{
   background-image: image-url('play-default.png');
   background-color: #c7c9da;
   
   &:before{
    background: #c7c9da; 
   }
  }
 }

 span{
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  background-image: image-url('play-mouseover.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  
  &:before{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 50px;
   width: 1px;
   background: rgba(199, 201, 218, 0.2);
   transition: all 0.3s ease;
  }
 }
 
 @media all and (max-width: $screen-xss-max){
  float: none;
  margin: 10px auto 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  float: none;
  margin: 20px auto 0;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
}

.video-operations{
 width: 80%;
 margin: 0 auto;
 max-width: 1260px;
 
 @media all and (max-width: $screen-xss-max){
  float: left;
  width: 100%;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  float: left;
  width: 100%;
 }
 
 h2{
  float: left;
  width: 100%;
  padding: 30px 0 20px;
  margin: 0;
  font-size: 52px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  
  @media all and (max-width: $screen-xss-max){
   padding: 40px 0 25px;
   font-size: 40px;
   float: none;
   width: 60%;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   padding: 40px 0 25px;
   font-size: 40px;
   float: none;
   width: 60%;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
 }
 
 p{
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: #40516b;
  
  @media all and (max-width: $screen-xss-max){
   width: 80%;
   font-size: 14px;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   width: 80%;
   font-size: 14px;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
 }
}
.video-blocks{
 display: flex;
 justify-content: space-around;
 align-items: flex-start;
 padding-top: 4%;
 transition: all 0.7s ease-out;
 
 @media all and (max-width: $screen-xss-max){
  float: left;
  width: 100%;
  display: inline-block;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  float: left;
  width: 100%;
  display: inline-block;
 }
 
 .block{
  padding: 0;
  width: 280px;
  transition: all 0.3s ease;
  
  @media all and (max-width: $screen-xss-max){
   margin: 0 auto;
   padding-bottom: 30px;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   margin: 0 auto;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   width: 180px;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   width: 204px;
  }
  
  &.second{
   margin: 0 18%;
   transition: all 0.7s ease-out;
   
   @media all and (max-width: $screen-xss-max){
    margin: 0 auto;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    margin: 0 auto;
   }
  }
  
  &.third{
   @media all and (max-width: $screen-xss-max){
    display: none;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    display: none;
   }
  }
  
  &-image{
   position: relative;
   width: 280px;
   height: 156px;
   
   @media all and (max-width: $screen-xss-max){
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 180px;
    height: 100px;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    width: 204px;
    height: 114px;
   }
   
   .main-banner{
    position: absolute;
    width: 280px;
    height: 156px;
    top: 0;
    left: 0;
    box-shadow: 0 22px 55px 0 rgba(4, 5, 29, 0.32);
    
    @media all and (max-width: $screen-xss-max){
    }
    @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    }
    @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
     width: 180px;
     height: 100px;
    }
    @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
     width: 204px;
     height: 114px;
    }
   }
   
   span{
    position: absolute;
    bottom: 20px;
    right: -10px;
    width: 49px;
    height: 49px;
    background-color: #da1884;
    text-align: center;
    padding: 14px 0 0 0;
    box-shadow: 0 12px 22px 0 rgba(4, 5, 29, 0.12);
   }
  }
  
  h3{
   font-size: 26px;
   font-weight: 700;
   color: #40516b;
   
   a{
    color: #40516b;
    
    &:hover{
     text-decoration: none;
    }
   }
   
   @media all and (max-width: $screen-xss-max){
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    font-size: 22px;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    font-size: 22px;
   }
  }
  span{
   font-size: 14px;
   font-weight: 300;
   line-height: 1.4;
   color: #40516b;
   
   a{
    color: #40516b;

    &:hover{
     text-decoration: none;
    }
   }
   
   @media all and (max-width: $screen-xss-max){
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    font-size: 12px;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    font-size: 12px;
   }
  }
  
  
  &:hover{
   transition: all 0.3s ease;
    .main-banner{
     opacity: .5;
    }
   
   .block-image span{
    opacity: 1;
   }
   
   h3,span{
    opacity: .6;
   }
  }
 }
}

.video-button{
 display: flex;
 justify-content: center;
 padding: 2% 0 0 0;
 float: left;
 width: 100%;
 
 @media all and (max-width: $screen-xss-max){
  padding-bottom: 40px;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  padding-bottom: 40px;
 }
}

.clients-section{
 width: 70%;
 margin: 0 auto;
 max-width: 1260px;

 @media all and (max-width: $screen-xss-max){
  float: left;
  width: 100%;
  margin-bottom: 90px;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  float: left;
  width: 100%;
  margin-bottom: 80px;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  width: 85%;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  width: 85%;
 }

 h2{
  float: left;
  width: 100%;
  padding: 30px 0 20px;
  margin: 0;
  font-size: 52px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;

  @media all and (max-width: $screen-xss-max){
   padding: 40px 0 25px;
   font-size: 40px;
   float: none;
   width: 60%;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   padding: 40px 0 25px;
   font-size: 40px;
   float: none;
   width: 60%;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
 }

 p{
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: #c7c9da;

  @media all and (max-width: $screen-xss-max){
   width: 80%;
   font-size: 14px;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   width: 80%;
   font-size: 14px;
   margin: 0 auto;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
 }
}
.clients-list{
 display: flex;
 justify-content: center;
 flex-direction: row;
 margin: 0;
 padding: 2% 0 0 0;
 flex-wrap: wrap;
 
 @media all and (max-width: $screen-xss-max){
  padding: 20px 0 0 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  padding: 20px 0 0 0
 }

 li{
  width: 132px;
  list-style: none;
  height: 132px;
  background-color: rgba(17, 29, 46, 0.22);
  margin: 19px;
  transition: all 0.7s ease-out;
  
  &.white{
   background-color: #ffffff;
  }
  
  &:last-child{
   display: none;
  }

  span{
   display: flex;
   justify-content: center;
   height: 100%;

   img{
    align-self: center;
   }
  }
 }
}
.scroll-down{
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 52px;
 background-color: #eeeff5;
 text-align: center;
 z-index: 99;
 opacity: 1;
 transition: all 0.2s ease-in-out;

 @media all and (max-width: $screen-xss-max){
  display: none;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  display: none;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }

 ul{
  margin: 0;
  padding: 0;

  li{
   margin: 0;
   padding: 0;
   list-style: none;
  }
 }

 .arrow-down{
  margin-top: 5px;
  width: 35px;
  display: inline-block;
  transition: all 0.2s ease-in-out;

  &:hover{
   transition: all 0.2s ease-in-out;
   margin-top: 10px;
  }
 }
}
.fp-viewing-secondPage,.fp-viewing-3rdPage{
 transition: all 0.3s ease;
 .scroll-down{
  opacity: 0;
  display: none;
  transition: all 0.3s ease;
 }
}

/*Home Video Overlay*/
.home-overlay{
 position: fixed;
 height: 100%;
 width: 100%;
 background: rgba(5, 28, 47, 0.78);
 top: 0;
 left: 0;
 z-index: 1000;
 overflow: hidden;
 
 &-content{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
 }
 &-copy{
  width: 100%;
  max-width: 1076px;
  background: #b8baca;
  box-shadow: 0 22px 32px 0 rgba(0, 0, 0, 0.22);
 }
 &-close{
  width: 100%;
  background: #b8baca;
  height: 44px;
  
  .closebtn{
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 47px;
   height: 44px;
   background-color: #c1c4d5;
   cursor: pointer;
   transition: all 0.4s;
   
   &:hover{
    opacity: .6;
    transition: all 0.4s;
   }
  }
 }
 
 .video-js{
  height: 544px;
  
  @media all and (max-width: $screen-xss-max){
   height: 320px;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   height: 320px;
  }
 }
}

.video-js{
 height: 544px;

 @media all and (max-width: $screen-xss-max){
  height: 320px;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  height: 320px;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  height: 544px;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  height: 544px;
 }
}
