/* English Font */
$font-Droid: 'Droid Serif', serif;

/* Media Queries */
$screen-xss:                  320px;
$screen-xss-min:              $screen-xss;
$screen-xss-phone:            $screen-xss-min;
$screen-xss-max:             ($screen-xs-min - 1);

/*Bdsy Colors*/
$primary-color: #eeeff5;
$secondary-color: #dce3e4;
$content-color: #4c505d;