<header>
 <h1>
  <a href="home.html">&nbsp;</a>
 </h1>
 <nav>
  <ul>
   <li class="suckerfish">
    <a href="#">
     Products
    </a>
    <div class="dropdown">
     <a href="detail-page.html">Rocket TV</a>
     <a href="detail-page3.html">Dawri Plus</a>
    </div>
   </li>
   <li class="suckerfish">
    <a href="#">
     Services
    </a>
    <div class="dropdown">
     <a href="video-operations.html">Video Operations</a>
     <a href="#">Invision</a>
     <a href="detail-page4.html">Sports</a>
     <a href="detail-page2.html">Direct Carrier Billing solution</a>
     <a href="detail-page5.html">VAS</a>
    </div>
   </li>
   <li>
    <a href="aboutus.html">
     About
    </a>
   </li>
   <li>
    <a href="blog.html">
     Blog
    </a>
   </li>
  </ul>
  <ul class="social-icon">
   <li>
    <a href="#" class="twitter"></a>
   </li>
   <li>
    <a href="#" class="linkedIn"></a>
   </li>
  </ul>
 </nav>
 
 <span class="open-hamburger"></span>
</header>

<div class="navigation-touch">
 <div class="nav-overlay"></div>
 <nav class="mobile-nav">
  <div class="mobile-nav-top">
   <ul>
    <li>
     <a href="#" class="m-twitter"></a>
    </li>
    <li>
     <a href="#" class="m-linkedin"></a>
    </li>
   </ul>
   <span class="close"></span>
  </div>
  <div class="mobile-nav-main">
   <ul>
    <li>
     <a href="#" class="active">Products</a>
     <div class="sub-nav">
      <ul>
       <li>
        <a href="detail-page.html">Rocket TV</a>
       </li>
       <li>
        <a href="detail-page3.html">Dawri Plus</a>
       </li>
      </ul>
     </div>
    </li>
    <li>
     <a href="#">Services</a>
     <div class="sub-nav">
      <ul>
       <li>
        <a href="video-operations.html">Video Operations</a>
       </li>
       <li>
        <a href="detail-page4.html">Sports</a>
       </li>
       <li>
        <a href="#">InVision</a>
       </li>
       <li>
        <a href="detail-page2.html">Direct Carrier Billing solution</a>
       </li>
       <li>
        <a href="detail-page5.html">VAS</a>
       </li>
      </ul>
     </div>
    </li>
    <li>
     <a href="aboutus.html">About</a>
    </li>
    <li>
     <a href="blog.html">Blog</a>
    </li>
   </ul>
  </div>
 </nav>
</div>