<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="css/{{ style }}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
 </head>
 <body class="{{ bodyclass }}">
  <!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
  <div class="main-wrapper">
 
    <!-- Header content Start --> 
   {% include "inc-header.html" %}

    <!--Page Content-->
    {% block content %}{% endblock %}
 
 
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/i18n/defaults-*.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script type="text/javascript">
   $(document).ready(function() {

    $('.owl-carousel').owlCarousel({
     center: true,
     rtl:true,
     loop:true,
     margin:0,
     nav:true,
     responsive:{
      0:{
       items:1,
       stagePadding: 0,
      },
      600:{
       items:1,
       stagePadding: 80,
      },
      1000:{
       items:1,
       stagePadding: 200,
      },
      1600:{
       items:2,
      }
     }
    });

   });
  </script>
  <script src="js/common.js"></script>
  

  {% block footer %}{% endblock %}
 </body>
</html>