.inner-wrapper{
 width: 100%;
 float: left;
}
.inner-banner{
 float: left;
 width: 100%;
 height: 670px;
 background: #9da0b2;
 position: relative;
 
 @media all and (max-width: $screen-xss-max){
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  height: 544px;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  height: 544px;
 }
 
 .product-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 25%;
  height: 200px;
  background: #ffffff;
  box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.22);
  
  
  &.dcb{
   width: 300px;
   background-color: #4cd3d6;
   
   @media all and (max-width: $screen-xss-max){
    width: 200px;
    height: 150px;
    padding: 0;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 200px;
    height: 150px;
    padding: 0;
   }
  }
 }
}
.inner-title{
 position: absolute;
 bottom: 50px;
 left: 15%;
 font-size: 52px;
 line-height: 54px;
 font-weight: 300;
 color: #ffffff;
 
 @media all and (max-width: $screen-xss-max){
  left: auto;
  font-size: 44px;
  line-height: 46px;
  position: relative;
  bottom: 95px;
  text-align: center;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  left: auto;
  font-size: 44px;
  line-height: 46px;
  position: relative;
  bottom: 95px;
  text-align: center;
 }
}
.inner-content{
 width: 70%;
 max-width: 1260px;
 margin: 0 auto;
 
 @media all and (max-width: $screen-xss-max){
  width: 90%;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  width: 90%;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  width: 90%;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
}

.inner-copy{
 float: left;
 width: 100%;
 padding: 70px 0;
 position: relative;
 
 @media all and (max-width: $screen-xss-max){
  padding: 20px 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  padding: 20px 0;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  padding: 40px 0;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
 
 section{
  display: inline-block;
  padding-bottom: 60px;
 }
 
 .clients-list{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 2% 0 0 0;
  flex-wrap: wrap;

  li{
   width: 132px;
   list-style: none;
   height: 132px;
   background-color: rgba(17, 29, 46, 0.22);
   margin: 6px;

   &.white{
    background-color: #ffffff;
   }

   span{
    display: flex;
    justify-content: center;
    height: 100%;

    img{
     align-self: center;
    }
   }
  }
 }
 
 h2{
  float: left;
  width: 90%;
  font-size: 78px;
  font-weight: 300;
  line-height: 1.1;
  color: #40516b;
  margin: 0;
  padding: 0 0 30px 0;
  
  @media all and (max-width: $screen-xss-max){
   font-size: 32px;
   width: 100%;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   font-size: 32px;
   width: 100%;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   font-size: 56px;
   width: 100%;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   font-size: 62px;
   width: 100%;
   padding: 0 0 30px 0;
  }
 }
 
 h4{
  float: left;
  width: 100%;
  font-size: 42px;
  line-height: 38px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0 0 20px 0;
  
  @media all and (max-width: $screen-xss-max){
   width: 100%;
   font-size: 24px;
   text-align: center;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   width: 100%;
   font-size: 24px;
   text-align: center;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   width: 100%;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
 }
 
 h5{
  float: left;
  width: 100%;
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  margin: 0;
  padding: 0 0 30px 0;
  
  @media all and (max-width: $screen-xss-max){
   width: 100%;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   width: 100%;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   width: 100%;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
 }
 
 p{
  float: left;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #000000;
  margin: 0;
  padding: 0 0 20px 0;
  
  @media all and (max-width: $screen-xss-max){
   font-size: 14px;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   font-size: 14px;
  }
 }
 
 span{
  float: left;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: #000000;
  
  @media all and (max-width: $screen-xss-max){
   font-size: 14px;
   text-align: center;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   font-size: 14px;
   text-align: center;
  }
 }
 
 ul{
  margin: 0 0 0 17px;
  padding: 0;
  display: inline-block;
  
  li{
   padding: 2px 0;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.5;
   color: #000000;
  }
 }
 
 .info-followers{
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  
  @media all and (max-width: $screen-xss-max){
   flex-wrap: wrap;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   flex-wrap: wrap;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
  
  li{
   list-style: none;
   padding: 0 30px;
   margin: 0;
   
   .numbers{
    font-size: 65px;
    line-height: 66px;
    color: #39b5e8;
    font-weight: 300;
   }
   .text{
    font-size: 22px;
    line-height: 23px;
    color: #39b5e8;
    font-weight: 300;
   }
  }
 }
 
 .dusk{
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.5;
  color: #40516b;
 }
}
.large-block{
 width: 100%;
}
.full-block{
 float: left;
 width: 90%;
 padding-bottom: 20px;
 
 @media all and (max-width: $screen-xss-max){
  width: 100%;
  padding: 0 0 20px 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  width: 100%;
  padding: 0 0 20px 0;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  width: 100%;
  padding: 0 0 20px 0;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
}
.half-block{
 float: left;
 width: 45%;
 padding-bottom: 20px;
 padding-right: 20px;
 
 @media all and (max-width: $screen-xss-max){
  width: 100%;
  padding: 0 0 20px 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  width: 100%;
  padding: 0 0 20px 0;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  width: 50%;
  padding: 0 10px 20px 0;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
 
 .detail-img{
  width: 95%;
//  min-height: 250px;
  
  &.left{
   width: 125%;
   margin-left: -125px;
   
   @media all and (max-width: $screen-xss-max){
    width: 100%;
    margin-left: 0;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 100%;
    margin-left: 0;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 100%;
    margin-left: 0;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   }
   @media all and (min-width: 1620px) and (max-width: 3000px) {
    width: 122%;
   }
  }
  &.right{
   width: 125%;
   margin-right: -125px;
   
   @media all and (max-width: $screen-xss-max){
    width: 100%;
    margin-right: 0;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 100%;
    margin-right: 0;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 100%;
    margin-right: 0;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   }
  }
 }
 
 &.list{
  margin-top: 20px;
 }
}
.detail-img{
 float: left;
 width: 100%;
// min-height: 415px;
 
 @media all and (max-width: $screen-xss-max){
//  min-height: 175px;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
//  min-height: 275px;
 }
 
 img{
  width: 100%;
  height: auto;
 }
}
.info-block{
 float: left;
 width: 100%;
 padding: 20px 0;
 margin-bottom: 30px;
 border-top: solid 1px #39b5e8;
 border-bottom: solid 1px #39b5e8;
 font-size: 22px;
 line-height: 1.5;
 text-align: center;
 font-weight: 300;
 color: #39b5e8;
 
 a{
  color: #39b5e8;
 }
}
.inner-social{
 position: absolute;
 width: 80px;
 top: 80px;
 left: -150px;
 
 
 &-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 80px;
  margin-bottom: 20px;
  border: solid 1px rgba(64, 80, 107, 0.2);
  
  .icon{
   width: 100%;
   text-align: center;
  }
  .counter{
   padding: 2px 0;
   text-align: center;
   border-top: solid 1px rgba(64, 80, 107, 0.2);
   width: 100%;
   font-size: 12px;
   font-weight: 700;
   color: #40516b;
   
   a{
    color: #40516b;
   }
  }
 }
}
/*About Us*/
.aboutus-main{
 float: right;
 width: 100%;
 padding: 0;
 margin: 0;
 background-color: #eff1f3;
}
.about-carousel{
 float: right;
 width: 100%;
 position: relative;
 overflow: hidden;
 
 .owl-carousel{
  &:before{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 200px;
   background: rgba( 0, 0, 0, 0.7);
   transition: all 0.3s ease;
   z-index: 9;
   
   @media all and (max-width: $screen-xss-max){
    display: none;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    display: none;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 80px;
   }
  }

  &:after{
   content: '';
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 200px;
   background: rgba( 0, 0, 0, 0.7);
   transition: all 0.3s ease;
   z-index: 9;
   
   @media all and (max-width: $screen-xss-max){
    display: none;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    display: none;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 80px;
   }
  }
  
//  .owl-item{
//   opacity: .5;
//   
//   &.active{
//    opacity: 1;
//   }
//  }
  
  .item{
   text-align: center;
  }
 }
 .owl-controls{
  position: absolute;
  bottom: 55%;
  width: 100%;
  
  @media all and (max-width: $screen-xss-max){
   display: none;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   display: none;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   display: none;
  }
  
  
  .owl-nav .owl-prev{
   position: absolute;
   text-indent: -999em;
   z-index: 101;
   right: 30px;
   width: 62px;
   height: 62px;
   background: #ffffff;
   border-radius: 50%;
   background-image: image-url('arrow-right.png');
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.3s ease;
   
   &:hover{
    opacity: .9;
    transition: all 0.3s ease;
   }
  }
  .owl-nav .owl-next{
   position: absolute;
   text-indent: -999em;
   z-index: 101;
   left: 30px;
   width: 62px;
   height: 62px;
   background: #ffffff;
   border-radius: 50%;
   background-image: image-url('arrow-left.png');
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.3s ease;

   &:hover{
    opacity: .9;
    transition: all 0.3s ease;
   }
  }
 }
}
/*offices-main*/
.offices-main{
 float: right;
 width: 100%;
 background-color: rgba(71, 97, 135, 0.08);
 
 .inner-copy{
  padding-bottom: 0;
 }
 
 .inner-copy span{
  font-size: 16px;
  line-height: 1.5;
 }
 
 .offices-location{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  
  .offices-main{
   width: 580px;
   min-height: 351px;
   position: relative;
   background-repeat: no-repeat;
   background-position: center;
   margin: 0 8px;
   
   @media all and (max-width: $screen-xss-max){
    width: 95%;
    margin: 12px 0;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    margin: 12px 0;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    margin: 12px 0;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    margin: 12px 0;
   }
   
   &.riyadh{
    background-image: image-url('riyadh-im.png');
   }
   &.dubai{
    background-image: image-url('dubai-map-im.png');
   }
   
   &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(44, 58, 79, 0.6);
    transition: all 0.3s ease;
   }
   
   &:hover{
    &:before{
     background: rgba(44, 58, 79, 0.8);
     transition: all 0.3s ease;
    }
   }
   
   .more-details{
    float: none;
    position: absolute;
    bottom: 0;
    left: 180px;
    
    @media all and (max-width: $screen-xss-max){
     left: 10px;
    }
   }
   
   .pointer{
    position: absolute;
    top: 130px;
    left: 255px;
    
    @media all and (max-width: $screen-xss-max){
     left: 130px;
    }
   }
  }
 }
}

.location-details{
 padding: 0 0 0 90px;
 
 @media all and (max-width: $screen-xss-max){
  padding: 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  padding: 0;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  padding: 0;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  padding: 0;
 }
 
 h3{
  background-image: image-url('small-pin.png');
  background-repeat: no-repeat;
  background-position: left 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  color: #40516b;
  margin: 0;
  padding: 0 0 20px 20px;
 }
 p{
  font-size: 16px;
  line-height: 1.9;
  color: #40516b;
  padding: 0 0 20px 0;
 }
 .getintouch{
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.8;
  color: #40516b;
  
  @media all and (max-width: $screen-xss-max){
   font-size: 16px;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   font-size: 16px;
  }
  
  em{
   font-weight: 700;
   font-style: normal;
  }
 }
}

.about-blocks{
 float: right;
 width: 100%;
 padding: 40px 0 0 0;
 
 @media all and (max-width: $screen-xss-max){
  padding: 20px 0 0 0;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  padding: 20px 0 0 0;
 }
 
 .detail-img{
  margin-bottom: 20px;
 }
 
 .linked-in{
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
 }
 
 fieldset{
  float: left;
  width: 100%;
  padding: 0 0 10px 0;
  
  label{
   float: left;
   width: 100%;
   opacity: 0.5;
   font-size: 14px;
   font-style: italic;
   color: #40516b;
   font-weight: 300;
   
   em{
    font-style: normal;
    color: #da1884;
   }
  }
  .text-box{
   float: left;
   width: 100%;
   height: 50px;
   margin: 0;
   padding: 0 0 0 10px;
   border: 0;
   background-color: #ffffff;
   font-size: 14px;
   font-style: italic;
   line-height: 1.4;
   color: rgba(64, 81, 107, 0.5);
   font-weight: 300;
   
   &.small{
    width: 25%;
   }
   &.med{
    width: 25%;
    margin: 0 10px;
    
    @media all and (max-width: $screen-xss-max){
     margin: 0 7px;
    }
    @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
     margin: 0 7px;
    }
    @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
     margin: 0 7px;
    }
    @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
     margin: 0 7px;
    }
   }
   &.large{
    width: 45%;
   }
  }
  
  select{
   float: left;
   width: 100%;
   height: 50px;
   margin: 25px 0 0 0;
   padding: 0;
   border: 0;
   background-color: #ffffff;
   font-size: 14px;
   font-style: italic;
   line-height: 1.4;
   color: rgba(64, 81, 107, 0.5);
   font-weight: 300;
  }
  
  textarea{
   float: left;
   width: 100%;
   min-height: 475px;
   margin: 0;
   padding: 10px 0 0 10px;
   border: 0;
   background-color: #ffffff;
   font-size: 14px;
   font-style: italic;
   line-height: 1.4;
   color: rgba(64, 81, 107, 0.5);
   font-weight: 300;
   
   @media all and (max-width: $screen-xss-max){
    min-height: 250px;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    min-height: 250px;
   }
  }
  
  
  .more-details{
   float: right;
   margin-top: 20px;
   
   span{
    float: none;
    width: auto;
    font-size: 10px;
    line-height: 12px;
   }
  }
  
  
  &.mobile{
  }
 }
 .error,.text-box.error{
  border: 1px solid #da1884;
 }
}

.message-sent{
 float: left;
 width: 100%;
 padding: 10px 0 0 0;
 text-align: center;
 
 &-icon{
  display: inline-block;
  padding: 0 0 10px 0;
  width: 100%;
  text-align: center;
 }
 &-text{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  line-height: 1.4;
  color: #40516b;
  font-weight: 300;
 }
}
/* Leadership Team */
.inner-copy .team-list{
 width: 100%;
 margin: 0;
 padding: 0;
 max-width: 1440px;
 
 li{
  float: left;
  list-style: none;
  padding: 0 0 50px 0;
  margin: 0;
  width: 50%;
  
  @media all and (max-width: $screen-xss-max){
   width: 100%;
   text-align: center;
   padding: 0 0 20px 0;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   width: 100%;
   text-align: center;
   padding: 0 0 30px 0;
  }
  
  .photo{
   float:left;
   width: 180px;
   min-height: 180px;
   position: relative;
   
   @media all and (max-width: $screen-xss-max){
    float: none;
    margin: 0 auto;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    float: none;
    margin: 0 auto;
   }
   
   &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(44, 58, 79, 0.2);
    transition: all 0.3s ease;
   }
   
   
   img{
    width: 100%;
    height: auto;
   }
  }
  
  h6{
   float: left;
   width: 55%;
   padding: 0 0 10px 20px;
   margin: 0;
   font-size: 20px;
   font-weight: 500;
   font-style: normal;
   line-height: 1.2;
   color: #40516b;
   
   @media all and (max-width: $screen-xss-max){
    width: 100%;
    padding: 10px 0;
    text-align: center;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 100%;
    padding: 10px 0;
    text-align: center;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 45%;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    width: 45%;
   }
  }
  span{
   float: left;
   padding: 0 0 0 20px;
   margin: 0;
   font-size: 14px;
   font-weight: 300; 
   font-style: normal;
   line-height: 1.4;
   color: #40516b;
   width: 55%;
   
   @media all and (max-width: $screen-xss-max){
    width: 100%;
    padding: 0;
    text-align: center;
   }
   @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
    width: 100%;
    padding: 0;
    text-align: center;
   }
   @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 45%;
   }
   @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
    width: 45%;
   }
  }
 }
}

/*testimonials*/
.testimonials{
 float: left;
 width: 100%;
 padding: 0 0 30px;
 margin: 0;
 
 &-commas{
  float: left;
  width: 100%;
  position: relative;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: #000000;
  
  &:before{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 16px;
   width: 20px;
   background-image: image-url('top-comma.png');
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.3s ease;
  }
  &:after{
   content: '';
   position: absolute;
   right: 0;
   bottom: 0;
   height: 16px;
   width: 20px;
   background-image: image-url('buttom-coma.png');
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.3s ease;
  }
 }
 
 &-copy{
  float: left;
  width: 100%;
  padding: 0;
  
  h6{
   float: left;
   width: 100%;
   padding: 0;
   margin: 0;
   font-size: 20px;
   font-weight: 700;
   color: #000000;
  }
 }
}

/*Digital Services*/
.digital-serv{
 float: left;
 width: 100%;
 padding: 30px 0 0 0;
 margin: 0;
}
.operators{
 margin: 0 0 20px 0;
 font-size: 20px;
 font-weight: 700;
 color: #da1884;
}
.partners{
 margin: 30px 0 20px 0;
 font-size: 20px;
 font-weight: 700;
 color: #40516b;
}
.digital-serv-icon{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 480px;
 
 @media all and (max-width: $screen-xss-max){
  min-height: 370px;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  min-height: 370px;
 }
}

/*selectpicker*/
select.bs-select-hidden,
select.selectpicker {
 display: none !important;
}
.bootstrap-select {
 width: 100% \0;
 /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
 width: 100%;
 padding-right: 25px;
 z-index: 1;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
 color: #999;
}
.bootstrap-select > select {
 position: absolute !important;
 bottom: 0;
 left: 50%;
 display: block !important;
 width: 0.5px !important;
 height: 100% !important;
 padding: 0 !important;
 opacity: 0 !important;
 border: none;
}
.bootstrap-select > select.mobile-device {
 top: 0;
 left: 0;
 display: block !important;
 width: 100% !important;
 z-index: 2;
}
.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
 border-color: #b94a48;
}
.bootstrap-select.fit-width {
 width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
 width: 100%;
 margin-top: 25px;
}
.bootstrap-select .dropdown-toggle:focus {
 outline: 0 !important;
 outline: 0 auto -webkit-focus-ring-color !important;
 outline-offset: -2px;
}
.bootstrap-select.form-control {
 margin-bottom: 0;
 padding: 0;
 border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
 width: 100%;
}
.bootstrap-select.form-control.input-group-btn {
 z-index: auto;
}
.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
 border-radius: 0;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
 float: none;
 display: inline-block;
 margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
 float: right;
}
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
 margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
 padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
 width: 100%;
}
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
 cursor: not-allowed;
}
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
 outline: none !important;
}
.bootstrap-select.btn-group.bs-container {
 position: absolute;
 height: 0 !important;
 padding: 0 !important;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu {
 z-index: 1060;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
 display: inline-block;
 overflow: hidden;
 width: 100%;
 text-align: left;
 font-size: 14px;
 font-style: italic;
 line-height: 1.4;
 color: rgba(64, 81, 107, 0.5);
 font-weight: 300;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
 position: absolute;
 top: 40%;
 right: 12px;
 margin-top: 0;
 vertical-align: middle;
 width: 20px;
 height: 10px;
 background-image: image-url('select-dropdown.png');
 background-repeat: no-repeat;
 background-position: 0 0;
 border: 0;
}
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
 width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
 min-width: 100%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
 position: static;
 float: none;
 border: 0;
 padding: 0;
 margin: 0;
 border-radius: 0;
 -webkit-box-shadow: none;
 box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
 position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
 color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
 cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 color: rgba(64, 81, 107, 0.4);
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
 position: relative;
 padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
 display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
 display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
 padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
 position: absolute;
 bottom: 5px;
 width: 96%;
 margin: 0 2%;
 min-height: 26px;
 padding: 3px 5px;
 background: #f5f5f5;
 border: 0;
 pointer-events: none;
 opacity: 1;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
 padding: 3px;
 background: #f5f5f5;
 margin: 0 5px;
 white-space: nowrap;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
 position: static;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
 position: static;
 top: auto;
 margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
 position: absolute;
 display: inline-block;
 right: 15px;
 margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
 margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
 z-index: 1061;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
 content: '';
 border-left: 7px solid transparent;
 border-right: 7px solid transparent;
 border-bottom: 7px solid rgba(204, 204, 204, 0.2);
 position: absolute;
 bottom: -4px;
 left: 9px;
 display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
 content: '';
 border-left: 6px solid transparent;
 border-right: 6px solid transparent;
 border-bottom: 6px solid white;
 position: absolute;
 bottom: -4px;
 left: 10px;
 display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
 bottom: auto;
 top: -3px;
 border-top: 7px solid rgba(204, 204, 204, 0.2);
 border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
 bottom: auto;
 top: -3px;
 border-top: 6px solid white;
 border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
 right: 12px;
 left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
 right: 13px;
 left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
 display: block;
}
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
 padding: 4px 8px;
}
.bs-actionsbox {
 width: 100%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
 width: 50%;
}
.bs-donebutton {
 float: left;
 width: 100%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.bs-donebutton .btn-group button {
 width: 100%;
}
.bs-searchbox + .bs-actionsbox {
 padding: 0 8px 4px;
}
.bs-searchbox .form-control {
 margin-bottom: 0;
 width: 100%;
 float: none;
}
.btn{
 border: 0;
 border-radius: 0;
 height: 50px;
 font-size: 14px;
 font-style: italic;
 line-height: 1.4;
 color: rgba(64, 81, 107, 0.5);
 font-weight: 300;
}
.bs-caret{
 float: none;
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:hover, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active{
 background: #ffffff;
 border: 0;
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default.focus:active, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus{
 background: #ffffff;
 border: 0;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
 background: #ffffff;
 border: 0;
}
.btn-group.open .dropdown-toggle{
 box-shadow: none;
}
.dropdown-menu > li > a{
 display: inline-block;
 width: 100%;
}
/*# sourceMappingURL=bootstrap-select.css.map */
#staticImg{
 display: block;
 position: absolute;
 z-index: 1;
 top: 200%;
 left: 0;
 width: 100%;
 min-width: 980px;
 height: 100%;

 -webkit-transition: all 0.7s ease-out;
 -moz-transition: all 0.7s ease-out;
 -o-transition: all 0.7s ease-out;
 transition: all 0.7s ease-out;

 -webkit-backface-visibility: hidden;
 -webkit-perspective: 1000;
}
#staticImg.moveDown{
 -webkit-transform: translate3d(0, 100%, 0);
 -ms-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0);
}
#staticImg.moveUp{

 -webkit-transform: translate3d(0, 0, 0);
 -ms-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
#staticImg.moveDown .imgsContainer{
 top: 50%;
}
#staticImg.moveDown img{
 top: 155px;
}
#staticImg.active .imgsContainer{
 top: 50%;
}
#staticImg.active img{
 top: 487px;
}
/*detail-page-arrow*/
.detail-page-arrow{
 float: left;
 width: 100%;
 text-align: center;
 padding: 15px 0 0;
}