.page-blog{
 position: relative;
 
 .inner-banner{
  height: 276px;
  background-image: image-url('about-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &:before{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
//   background: rgba(44, 58, 79, 0.4);
   transition: all 0.3s ease;
  }
  
  .inner-title{
   left: 5%;
  }
 }
 
 .inner-content{
  width: 90%;
  
  @media all and (max-width: 479px) {
   width: 87%;
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
   width: 63%;
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
   width: 84%;
  }
  @media all and (min-width: 992px) and (max-width: 1199px) {
   width: 79%;
  }
  @media all and (min-width: 1200px) and (max-width: 1439px) {
   width: 90%;
  }
  @media all and (min-width: 1440px) and (max-width: 1919px) {
   width: 84%;
  }
  @media all and (min-width: 1920px) and (max-width: 2499px) {
   width: 84%;
  }
  @media all and (min-width: 2500px) {
   width: 94%;
  }
 }
 .blog-copy{
  float: left;
  width: 100%;
  padding: 70px 0;
  position: relative;
  min-height: 400px;
 }
 
 .grid-item{
  float: left;
  width: 380px;
  margin: 10px;
  
  @media all and (max-width: $screen-xss-max){
   width: 100%;
   margin: 10px 0;
  }
  @media all and (min-width: 480px) and (max-width: 767px) {
   width: 100%;
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
   width: 300px;
  }
 }
 
 .blog-img{
  float: left;
  width: 100%;
  height: 211px;
  margin-bottom: 15px;
  
  @media all and (max-width: $screen-xss-max){
   height: auto;
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
   height: auto;
  }
  
  
  img{
   width: 100%;
  }
 }
 
 .blog-content{
  float: left;
  margin: 0;
  width: 100%;
  
  h4{
   float: left;
   margin: 0;
   width: 100%;
   padding: 0;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.3;
   color: #000000;
   
   a{
    color: #000000;
   }
  }
  
  em{
   font-size: 16px;
   line-height: 1.9;
   color: #40516b;
   padding: 0;
   font-style: normal;
  }
 }
 
 .blog-counter{
  float: left;
  margin: 0;
  width: 100%;
  padding: 20px 0 0 0;
  
  span{
   margin-right: 10px;
   padding: 0 0 0 20px;
   font-size: 14px;
   font-style: italic;
   line-height: 1.4;
   color: #40516b;
   
   &.comments{
    background-image: image-url('comments-icon.png');
    background-repeat: no-repeat;
    background-position: left 1px;
   }
   
   &.views{
    padding: 0 0 0 25px;
    background-image: image-url('counter-icon.png');
    background-repeat: no-repeat;
    background-position: left 2px;
   }
   
   a{
    color: #40516b;
   }
  }
 }
 
 
 /*blog-details*/
 .blog-details{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 81, 107, 0.70);
  z-index: 1005;
  
  &-content{
   position: absolute;
   top: 0;
   right: 0;
   width: 90%;
   height: 100%;
   background-color: #ffffff;
   overflow-x: scroll;
   -webkit-overflow-scrolling: touch;
   
   @media all and (max-width: 479px) {
    width: 100%;
   }
   @media all and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
   }
  }
  
  .detail-banner{
   float: none;
   padding: 20px 0 0 0;
   margin: 0 auto;
   width: 70%;
   max-width: 1260px;
   color: #40516b;
   
   @media all and (max-width: 479px) {
    margin: 60px 0 0 0;
    width: 100%;
    padding: 0 20px;
   }
   @media all and (min-width: 480px) and (max-width: 767px) {
    margin: 60px 0 0 0;
    width: 100%;
    padding: 0 20px;
   }
   
   &-img{
    float: left;
    width: 100%;
    min-height: 442px;
    background-color: #7a7b87;
    background-size: cover;
    background-position: center;
    
    @media all and (max-width: 479px) {
     min-height: 282px;
    }
    @media all and (min-width: 480px) and (max-width: 767px) {
     min-height: 282px;
    }
   }
   h5{
    float: left;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    color: #000000;
    
    @media all and (max-width: 479px) {
     font-size: 30px;
     margin: 15px 0;
    }
    @media all and (min-width: 480px) and (max-width: 767px) {
     font-size: 30px;
     margin: 15px 0;
    }
   }
   span{
    float: left;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    color: #40516b;
    margin-bottom: 25px;
    
    @media all and (max-width: 479px) {
     font-size: 16px;
     margin-bottom: 15px;
    }
    @media all and (min-width: 480px) and (max-width: 767px) {
     font-size: 16px;
     margin-bottom: 15px;
    }
   }
   p{
    float: left;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    color: #40516b;
    margin: 0 0 25px 0;
    
    @media all and (max-width: 479px) {
     font-size: 14px;
     margin-bottom: 15px;
    }
    @media all and (min-width: 480px) and (max-width: 767px) {
     font-size: 14px;
     margin-bottom: 15px;
    }
   }
  }
  
  .mobile-close{
   
   @media all and (max-width: 479px) {
    width: 100%;
    padding: 0;
    background: #ffffff;
    position: fixed;
    top: 0;
    height: 60px;
   }
   @media all and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
    padding: 0;
    background: #ffffff;
    position: fixed;
    top: 0;
    height: 60px;
   }
  }
  
  .close{
   position: fixed;
   top: 10px;
   left: 11%;
   padding: 7px 0 0 45px;
   width: 40px;
   height: 40px;
   font-size: 14px;
   line-height: 1.6;
   opacity: 1;
   font-weight: 300;
   color: #40516b;
   background-image: image-url('close-button.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   transition: all 0.3s ease;

   &:hover{
    background-image: image-url('close-button-active.png');
    transition: all 0.3s ease;
    color: #40516b;
   }
   
   @media all and (max-width: 479px) {
    top: 10px;
    left: 20px;
   }
   @media all and (min-width: 480px) and (max-width: 767px) {
    top: 10px;
    left: 20px;
   }
  }
  
  .inner-social{
   left: 13%;
   position: fixed;
   top: auto;
   top: 40%;
   
   @media all and (max-width: 479px) {
    display: none;
   }
   @media all and (min-width: 480px) and (max-width: 767px) {
    display: none;
   }
   
   @media all and (min-width: 768px) and (max-width: 991px) {
    left: 11%;
   }
  }
 }
}
.blog-detail-open{
 overflow: hidden;
}
