.fp-viewing-3rdPage{
 footer{
  position: absolute;
  bottom: 0;
  background-color: rgba(44, 58, 79, 0.6);
  
  p{
   color: #c7c9da;
  }
 }
}
footer{
 width: 100%;
 background-color: rgba(44, 58, 79, 0.1);
 min-height: 40px;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;

 p{
  color: #2c3a4f;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  margin: 0;
 }
}