#fullpage{
 position: relative;
}
.nav-open{
 overflow: hidden;
 width: 100%;
 height: 100%;
 position: fixed;
 overflow-y: hidden !important;
 
 .navigation-touch{
  display: block;
  opacity: 1;
  transition: all 0.3s ease;
  
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
   display: none;
  }
 } 
}
.navigation-touch{
 display: none;
 opacity: 0;
 transition: all 0.3s ease;
 
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  display: none;
 }
}
header{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 75px;
 border-bottom: solid 1px rgba(64, 81, 107, 0.22);
 z-index: 1;
 display: flex;
 justify-content: space-between;
 
 @media all and (max-width: $screen-xss-max){
  height: 60px;
 }
 
 h1{
  margin: 0 0 0 32px;
  padding: 0;
  width: 114px;
  height: 38px;
  align-self: center;
  background-image: image-url('intigral-logotype.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  @media all and (max-width: $screen-xss-max){
   background-image: image-url('m-intigral-logotype@2x.png');
   width: 85px;
   height: 29px;
  }
  
  a{
   display: inline-block;
   width: 100%;
  }
 }
 
 nav{
  float: right;
  padding: 0 80px 0 0;
  
  ul{
   float: left;
   margin: 27px 0 0 0;
   padding: 0 30px 0 0;
   
   li{
    float: left;
    margin: 0;
    padding: 0 0 0;
    list-style: none;
    position: relative;
    transition: all 0.3s ease;
    
    a{
     font-size: 18px;
     font-weight: 300;
     line-height: 20px;
     color: #40516b;
     text-decoration: none;
     position: relative;
     padding: 0 30px 26px;
     transition: all 0.3s ease;
     
     &:hover,&.active{
      text-decoration: none;
      transition: all 0.3s ease;
     }
    }
   }
   
   .suckerfish{
    a.new{
     opacity: 1;
    }
    &:hover,&.active{
     a{
      color: #40516b;
      border-bottom: 4px solid #da1884;
      z-index: 100;
      
      &:hover{
       color: #40516b;
      }
     }
    }
    
    .dropdown{
     a{
      border-bottom: 0;
     }
    }
   }
   
   .dropdown{
    z-index: 99;
    display: none;
    opacity: 1;
    position: absolute;
    width: 300px;
    height: inherit;
    background-color: #ffffff;
    box-shadow: 0 22px 32px 0 rgba(0, 0, 0, 0.22);
    top: 48px;
    left: -85px;
    transition: all 0.3s ease;
    padding: 14px 0 28px 28px;
    
    a{
     display: inline-block;
     width: 100%;
     padding: 22px 0 0;
     font-size: 20px;
     font-weight: 300;
     color: #40516b;
     opacity: .7;
     border-bottom: 0;
     transition: all 0.3s ease;
     
     &:hover{
      opacity: 1;
      transition: all 0.3s ease;
     }
    }
   }
   
   &:hover{
    a{
     opacity: .4;
     transition: all 0.3s ease;
    }
    a:hover,a.active{
     opacity: 1;
     transition: all 0.3s ease;
    }
   }
  }
  
  .social-icon{
   margin: 0;
   
   li{
    padding: 0;
    border-right: solid 1px rgba(64, 81, 107, 0.22);
    
    &:first-child{
     border-left: solid 1px rgba(64, 81, 107, 0.22);
    }
    
    a{
     float: left;
     opacity: 1;
     
     &.twitter{
      width: 79px;
      height: 75px;
      background-image: image-url('twetter-button.png');
      background-repeat: no-repeat;
      background-position: center;
     }
     &.linkedIn{
      width: 79px;
      height: 75px;
      background-image: image-url('linkedin-button.png');
      background-repeat: no-repeat;
      background-position: center; 
     }
     
     &:hover{
      &.twitter{
       background-color: #2c3a4f;
       background-image: image-url('twetter-button-white.png');
      }
      &.linkedIn{
       background-color: #2c3a4f;
       background-image: image-url('linkedin-button-white.png');
      }
     }
    }
   }
  }
  
  @media all and (max-width: $screen-xss-max){
   display: none;
  }
  @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
   display: none;
  }
  @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
   display: none;
  }
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  }
  
 }
}


/* Mobile Nav */
.open-hamburger{
 position: absolute;
 top: 25px;
 right: 25px;
 background-image: image-url('menu-hum.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 width: 27px;
 height: 20px;
 cursor: pointer;
 display: none;
 
 @media all and (max-width: $screen-xss-max){
  display: block;
  top: 20px;
 }
 @media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
  display: block;
 }
 @media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  display: block;
 }
 @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max){
 }
}
.nav-overlay{
 position: fixed;
 height: 100vh;
 width: 100%;
 overflow: hidden;
 z-index: 98;
 background-color: rgba(64, 81, 107, 0.9);
}
.mobile-nav{
 position: absolute;
 top: 0;
 right: 0;
 width: 80%;
 height: 100%;
 background-color: #f7f7f7;
 z-index: 99;
 overflow-x: scroll;
 
 &-top{
  float: left;
  width: 100%;
  padding: 0;
  
  ul{
   float: left;
   padding: 10px 0 0 10px;
   margin: 0;
   
   li{
    float: left;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    
    a{
     float: left;
     text-decoration: none;
     width: 40px;
     height: 40px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     
     &.m-twitter{
      background-image: image-url('m-twitter.png');
      transition: all 0.3s ease;
      
      &:hover{
       background-image: image-url('m-twitter-active.png');
       transition: all 0.3s ease;
      }
     }
     &.m-linkedin{
      background-image: image-url('m-linkedin.png');
      transition: all 0.3s ease;

      &:hover{
       background-image: image-url('m-linkedin-active.png');
       transition: all 0.3s ease;
      }
     }
    }
   }
  }
  
  .close{
   float: right;
   margin: 10px 20px 0 0;
   width: 40px;
   height: 40px;
   opacity: 1;
   background-image: image-url('close-button.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   transition: all 0.3s ease;
   
   &:hover{
    background-image: image-url('close-button-active.png');
    transition: all 0.3s ease;
   }
  }
 }
 
 &-main{
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
  
  ul{
   float: left;
   width: 100%;
   margin: 0;
   padding: 0;
   
   li{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 22px;
    line-height: 1.9;
    color: #40516b;
    font-weight: 300;

    a{
     float: left;
     width: 100%;
     margin: 0 0 1px 0;
     padding: 2px 0 2px 30px;
     font-size: 22px;
     line-height: 1.9;
     color: #40516b;
     font-weight: 300;
     position: relative;
     transition: all 0.3s ease;
     
     &:hover,&.active{
      background-color: #eff1f3;
      transition: all 0.3s ease;
     }
    }
   }
  }
  
  .sub-nav{
   li{
    a{
     padding: 2px 0 2px 65px;
     
     &:before{
      content: '';
      position: absolute;
      top: 23px;
      left: 30px;
      width: 22px;
      height: 1px;
      background: #39b5e8;
     }
    }
   }
  }
 }
}

.fp-viewing-firstPage-0,.fp-viewing-firstPage-1,.fp-viewing-3rdPage,.page-video-operations,.page-about-us,.page-sports-market,.page-VAS,.page-blog,.page-projectOne,.page-projectThree,.page-invision,.page-projectTwo{
 .open-hamburger{
  background-image: image-url('menu-hum-white.png');
 }
 header{
  border-bottom: solid 1px rgba(199, 201, 218, 0.23);
  
  h1{
   background-image: image-url('intigral-logotype2.png');
   
   @media all and (max-width: $screen-xss-max){
    background-image: image-url('m-intigral-white@2x.png');
    width: 85px;
    height: 29px;
   }
  }
  
  nav{
   ul{
    li{
     a{
      color: #c7c9da;
      
      &.active,&:hover{
       color: #c7c9da;
      }
     }
    }
   }
  }
  
  .suckerfish{
   a.new{
    color: #c7c9da;
    opacity: 1;
   }
   &:hover,&.active{
    a{
     color: #c7c9da;
     
     &:hover{
      color: #c7c9da;
     }
    }
   }

   .dropdown{
    a{
     border-bottom: 0;
     color: #40516b;
     opacity: .7;
    }
   }
  }
  
  .social-icon{

   li{
    border-right: solid 1px rgba(199, 201, 218, 0.23);

    &:first-child{
     border-left: solid 1px rgba(199, 201, 218, 0.23);
    }

    a{
     float: left;
     opacity: 1;

     &.twitter{
      background-image: image-url('twetter-button-white.png');
     }
     &.linkedIn{
      background-image: image-url('linkedin-button-white.png');
     }

     &:hover{
      &.twitter{
       background-color: #C7C9D9;
       background-image: image-url('twetter-button.png');
      }
      &.linkedIn{
       background-color: #C7C9D9;
       background-image: image-url('linkedin-button.png');
      }
     }
    }
   }
  }
 }
}

.page-projectOne{
 header{
  background: #1f323f;
  border-bottom: solid 1px #1f323f;
 }
}
.page-projectThree{
 header{
  background: #2c3a4f;
  border-bottom: solid 1px #2c3a4f;
 }
}
