{% extends './templates/layout-detail.html' %}
{% set title = "Intigral | About Us " %}
{% set style = "style.css" %}
{% set bodyclass = "page-about-us" %}
 
{% block content %}

<style type="text/css">
 /*about-us*/
 .page-about-us .inner-banner{
  height: 218px; 
  background-image: url('images/about-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2c3a4f;
  position: relative;
 }
 @media all and (max-width: 479px) {
  .page-about-us .inner-banner{
   height: 276px;
  }
 }
</style>
<div class="inner-wrapper">
 
 <div class="inner-banner">
  <div class="inner-title">
   About
  </div>
 </div>
 
 <div class="aboutus-main">
  
  <div class="inner-content">
   <div class="inner-copy">
    <div class="large-block">
     <h4>Overview</h4>
     <span class="dusk">Intigral is a leading provider of IP video products and billing solutions in the MENA region. We focus on creating fully customizable IP entertainment and sports products that drive broadband, open new revenue opportunities, and create rich consumer engagement channels for our clients.</span>
    </div>
   </div>
  </div>
  
  <section class="about-carousel">
   <div class="owl-carousel">
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2014/07/fullservice.jpg" alt="" />
    </div>
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2015/11/activation_slider_1.jpg" alt="" />
    </div>
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2015/11/activation_slider_2.jpg" alt="" />
    </div>
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2015/11/activation_slider_3.jpg" alt="" />
    </div>
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2014/03/dcb_image_11.jpg" alt="" />
    </div>
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2014/03/dcb_image_21.jpg" alt="" />
    </div>
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2014/01/access-to-market.jpg" alt="" />
    </div>
    <div class="item">
     <img src="http://www.intigral.net/wp-content/uploads/2014/07/highconnectivity.jpg" alt="" />
    </div>
   </div>
  </section>
  
 </div>
 
 <div class="inner-content">
  <div class="inner-copy">
   <div class="large-block">
    <div class="half-block">
     <p>Our products are built around our cloud-based delivery platform which uses the latest technologies and provides high quality streaming services, APIs for simple integration, payment modules, social integration capabilities and high value tracking and analytics services.</p>
     <p>The Intigral team delivers to our clients the full suite of services, starting from consultancy and business plans, to technical development and integration, video operations and delivery, training, marketing and activation, and ongoing after-sales support.</p>
    </div>
    <div class="half-block">
     <p>Through our powerful technology platform, experienced team and extensive services, we deliver best of breed, next generation solutions that provide our clients with monetizable products that their customers will love. </p>
     <p>Intigral was formed in 2009 as a joint venture between Saudi Telecom Company (STC) and the Malaysian media conglomerate, All Asia Networks (ASTRO) with a current workforce of more than 200 professionals in our Dubai and Riyadh offices. </p>
    </div>
   </div>
   
   <div class="full-block">
    <h4>Clients and Partners</h4>
    <span class="dusk">Critical to our success are the long-standing relationships we have developed with industry leaders around the world. We are proud to partner with the following companies that help us provide world class solutions to our clients: 
    </span>
   </div>
   
   <div class="full-block">
    <ul class="clients-list">
     <li class="white">
      <span><img src="images/fox-black.png" alt="" /></span>
     </li>
     <li class="white">
      <span><img src="images/akamai-black.png" alt="" /></span>
     </li>
    <li class="white">
      <span><img src="images/broadpeak-black.png" alt="" /></span>
     </li>
   <li class="white">
      <span><img src="images/marvel-black.png" alt="" /></span>
     </li>
  <li class="white">
      <span><img src="images/mbc-black.png" alt="" /></span>
     </li>
 <li class="white">
      <span><img src="images/osn-black.png" alt="" /></span>
     </li>
<li class="white">
      <span><img src="images/starzplay-black.png" alt="" /></span>
     </li>
<li class="white">
      <span><img src="images/verimatrix-black.png" alt="" /></span>
     </li>
<li class="white">
      <span><img src="images/theplatform-black.png" alt="" /></span>
     </li>
<li class="white">
      <span><img src="images/sony-black.png" alt="" /></span>
     </li>
<li class="white">
      <span><img src="images/stc-black.png" alt="" /></span>
     </li>
<li class="white">
      <span><img src="images/viva-black.png" alt="" /></span>
     </li>
    </ul>
   </div>  
  </div>
 </div>
 
 <div class="offices-main">
  <div class="inner-content">
   <div class="inner-copy">
    <div class="full-block">
     <h4>Offices</h4>
     <span class="dusk">Our team of over 200 people is strategically located in the key regional Dubai and Riyadh markets.</span>
    </div>
   </div>
  </div>
  
  <div class="offices-location">
   <div class="offices-main riyadh">
    <span class="pointer"><img src="images/pointer.png" alt="" /></span>
    <a href="https://www.google.com/maps/@24.69952,46.67741,17z?hl=en-US" target="_blank" class="more-details">GET DIRECTION
     <span><img src="images/arrow-icon.png" alt="" /></span>
    </a>
   </div>
   <div class="offices-main dubai">
    <span class="pointer"><img src="images/pointer.png" alt="" /></span>
    <a href="https://www.google.com/maps/@25.04276,55.25154,17z?hl=en-US" target="_blank" class="more-details">GET DIRECTION
     <span><img src="images/arrow-icon.png" alt="" /></span>
    </a>
   </div>
  </div>
 </div>
 
 <div class="inner-content">
  <div class="inner-copy">
   <div class="large-block">
    
    <div class="half-block">
     <div class="location-details">
      <h3>Riyadh office</h3>
      <p>Riyadh, King Fahad Road, Arcade Center - 5th Gate, 1st; Floor | P.O Box: 300483 Riyadh 11372</p>
      <div class="getintouch"><em>T:</em> +966 11 2154488</div>
      <div class="getintouch"><em>F:</em> +966 11 2154499</div>
     </div>
    </div>
    
    <div class="half-block">
     <div class="location-details">
      <h3>Dubai office</h3>
      <p>Dubai Studio City, UAE - Commercial Buildings Block C, 3rd &amp; 5th Floor | P.O Box 502563</p>
      <div class="getintouch"><em>T:</em> +971 4 4361900</div>
      <div class="getintouch"><em>F:</em> +971 4 4361955</div>
     </div>
    </div> 
   </div>
   
   <div class="about-blocks">
    <div class="large-block">
     <div class="full-block">
      <h4>Careers</h4>
      <span class="dusk">
       The Intigral team has extensive knowledge and deep expertise in the sports industry. We support our clients across all aspects of the sports value chain
      </span>
     </div>
     <div class="full-block">
      <div class="detail-img">
       asd
      </div>
     </div>
     <div class="full-block">
      <div class="info-block">
       <a href="#" class="linked-in"><img src="images/careers-linked-in.png" alt="" /></a>
       <a href="#">All details You will find on our Linkedin account</a>
      </div>
     </div>
    </div>

   </div>
   
   <div class="about-blocks">
    <div class="large-block">
     <div class="full-block">
      <h4>Leadership team</h4>
      <span class="dusk">
       Our management team, with their extensive regional and international experience in video technology and ecommerce solutions, lead the development of all our products and services, ensuring our clients get the highest value at all times. 
      </span>
     </div>
    </div>
   </div>
   
   <div class="about-blocks">
    <ul class="team-list">
     <li>
      <div class="photo">
       <img src="http://www.intigral.net/wp-content/uploads/2013/10/ourteam-ben.png" alt="" />
      </div>
      <h6>Ben Kinealy</h6>
      <span>CEO</span>
     </li>
     <li>
      <div class="photo">
       <img src="http://www.intigral.net/wp-content/uploads/2013/10/henri1.jpg" alt="" />
      </div>
      <h6>Henri Holm</h6>
      <span>CFO</span>
     </li>
     <li>
      <div class="photo">
       <img src="http://www.intigral.net/wp-content/uploads/2013/10/mohamed.jpg" alt="" />
      </div>
      <h6>Mohamad Ibrahim</h6>
      <span>Head of Strategy and PMO</span>
     </li>
     <li>
      <div class="photo">
       <img src="http://www.intigral.net/wp-content/uploads/2013/10/badr.jpg" alt="" />
      </div>
      <h6>Bader Al Ghubain</h6>
      <span>Head of Mobile Services and KSA Operations</span>
     </li>
     <li>
      <div class="photo">
       <img src="http://www.intigral.net/wp-content/uploads/2013/10/andrew.jpg" alt="" />
      </div>
      <h6>Andrew Fayle</h6>
      <span>Head of Technology</span>
     </li>
     <li>
      <div class="photo">
       <img src="http://www.intigral.net/wp-content/uploads/2013/10/faisal.jpg" alt="" />
      </div>
      <h6>Faisal Abu Saq</h6>
      <span>Acting Head of Sport</span>
     </li>
    </ul>
   </div>
   
   <div class="about-blocks">
    <div class="large-block">
     <div class="full-block">
      <h4>Contact us</h4>
     </div>
     
     <div class="half-block">
      <fieldset>
       <label>First name <em>*</em></label>
       <input type="text" class="text-box error" />
      </fieldset>
      <fieldset>
       <label>Email address <em>*</em></label>
       <input type="text" class="text-box error" placeholder="xxxx@xxx.xxx" />
      </fieldset>
      <fieldset>
       <label>Telephone <em>*</em></label>
       <input type="text" class="text-box small error" />
       <input type="text" class="text-box med error" />
       <input type="text" class="text-box large error" />
      </fieldset>
      <fieldset>
       <label>Mobile <em>*</em></label>
       <input type="text" class="text-box small error" />
       <input type="text" class="text-box med error" />
       <input type="text" class="text-box large error" />
      </fieldset>
      <fieldset>
       <select class="selectpicker error">
        <option>Country</option>
        <option>Country</option>
        <option>Country</option>
       </select>
      </fieldset>
      <fieldset>
       <select class="selectpicker error">
        <option>Interest</option>
        <option>Interest</option>
        <option>Interest</option>
       </select>
      </fieldset>
     </div>
     
     <div class="half-block">
      <fieldset class="mobile">
       <label>Message</label>
       <textarea class="error"></textarea>
      </fieldset>
      <fieldset>
       <a href="#" target="_blank" class="more-details">SEND MESSAGE
        <span><img src="images/arrow-icon.png" alt="" /></span>
       </a>
      </fieldset>
     </div>
     
     <div class="full-block">
      <div class="message-sent">
       <div class="message-sent-icon">
        <img src="images/message-sent.png" alt="" />
       </div>
       <div class="message-sent-text">
        Message Sent Successfully
       </div>
      </div>
     </div>
     
    </div>
   </div>
  </div>
  
 </div>
 
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>
{% endblock %}

{% block footer %}
{% endblock %}