{% extends './templates/layout-blog.html' %}
{% set title = "Intigral | Blog" %}
{% set style = "style.css" %}
{% set bodyclass = "page-blog blog-detail-open" %}

{% block content %}

<div class="inner-wrapper">
 <div class="inner-banner">
  <div class="inner-title">
   Blog
  </div>
 </div>
 <div class="inner-content">
  <div class="blog-copy">
    <div class="grid">
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://www.grestel.pt/Portals/37/Images/infoTecnica2.JPG" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>22.02.016</em>
       <h4><a href="#">5 Tips for Selecting the Ideal Music for Your Marketing Video</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://cdn-media-1.lifehack.org/wp-content/files/2014/02/Screen-Shot-2014-02-09-at-5.32.26-PM-380x211.png" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>20.02.016</em>
       <h4><a href="#">7 Steps to a Perfectly Written Business Plan</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://www.grestel.pt/Portals/37/Images/infoTecnica2.JPG" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>17.02.016</em>
       <h4><a href="#">Dubai Startup Park Key Helps You Find That Elusive Parking Spot</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://cdn-media-1.lifehack.org/wp-content/files/2014/02/Screen-Shot-2014-02-09-at-5.32.26-PM-380x211.png" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>12.02.016</em>
       <h4><a href="#">Jordan-Based Startup Kharabeesh Gets A US$5 Million Boost To Grow Arabic Web Content</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://www.grestel.pt/Portals/37/Images/infoTecnica2.JPG" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>7.02.016</em>
       <h4><a href="#">Marketing Your Brand In The Arab World: Facebook May Not Be The Best Option</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://www.grestel.pt/Portals/37/Images/infoTecnica2.JPG" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>22.02.016</em>
       <h4><a href="#">5 Tips for Selecting the Ideal Music for Your Marketing Video</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://cdn-media-1.lifehack.org/wp-content/files/2014/02/Screen-Shot-2014-02-09-at-5.32.26-PM-380x211.png" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>20.02.016</em>
       <h4><a href="#">7 Steps to a Perfectly Written Business Plan</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://www.grestel.pt/Portals/37/Images/infoTecnica2.JPG" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>17.02.016</em>
       <h4><a href="#">Dubai Startup Park Key Helps You Find That Elusive Parking Spot</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://cdn-media-1.lifehack.org/wp-content/files/2014/02/Screen-Shot-2014-02-09-at-5.32.26-PM-380x211.png" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>12.02.016</em>
       <h4><a href="#">Jordan-Based Startup Kharabeesh Gets A US$5 Million Boost To Grow Arabic Web Content</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     <div class="grid-item">
      <div class="blog-img">
       <a href="#"><img src="http://www.grestel.pt/Portals/37/Images/infoTecnica2.JPG" alt="" /></a>
      </div>
      <div class="blog-content">
       <em>7.02.016</em>
       <h4><a href="#">Marketing Your Brand In The Arab World: Facebook May Not Be The Best Option</a></h4>
       <div class="blog-counter">
        <span class="comments"><a href="#">3</a></span>
        <span class="views"><a href="#">44</a></span>
       </div>
      </div>
     </div>
     
    </div>
  </div>
 </div>
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>

<!-- Blog Details -->
<!-- Add class "blog-detail-open" in body tag when pop-up opens -->
<div class="blog-details">
 <div class="blog-details-content">
  <div class="mobile-close">
   <span class="close">Close</span>
  </div>
  <div class="inner-social">
   <div class="inner-social-block">
    <div class="icon">
     <a href="#"><img src="images/twetter-button.png" alt="" /></a>
    </div>
    <div class="counter">
     <a href="#">+ 255</a>
    </div>
   </div>
   <div class="inner-social-block">
    <div class="icon">
     <a href="#"><img src="images/linkedin-button.png" alt="" /></a>
    </div>
    <div class="counter">
     <a href="#">+ 177</a>
    </div>
   </div>

  </div>
  <div class="detail-banner">
   <div class="detail-banner-img">
    asd
   </div>
   <h5>Dubai Startup Park Key Helps You Find That Elusive Parking Spot</h5>
   <span>23.02.016</span>
   <p>In the Arab world, most companies and entrepreneurs, especially those who are not tech-focused, tend to concentrate their digital marketing efforts on Facebook, given that the social media platform enjoys over 114 million monthly users from the region.</p>
   <p>But the problem with Facebook nowadays is that with the algorithm for its News Feed changing, the reach for a Facebook page’s status update is around 0.5% of the page’s fans- this is the same rate Twitter provides as well. Even worse, organic reach of the content brands publish in Facebook is destined to hit zero,” says Marshall Manson, Managing Director of Social at Ogilvy, one of the world’s largest ad agencies. “It’s only a matter of time.” What this means is that all the effort and money you have put into advertising your Facebook page to collect fans is not providing a justified return on investment (ROI)- the reason for this is because Facebook essentially now wants page admins to advertise further. Marketers cannot now reach a sizable percentage of their Facebook page fans unless they advertise on each update they publish. This implies that the good old days of needing only interesting content to market your b</p>
   <p>But the problem with Facebook nowadays is that with the algorithm for its News Feed changing, the reach for a Facebook page’s status update is around 0.5% of the page’s fans- this is the same rate Twitter provides as well. Even worse, organic reach of the content brands publish in Facebook is destined to hit zero,” says Marshall Manson, Managing Director of Social at Ogilvy, one of the world’s largest ad agencies. “It’s only a matter of time.” What this means is that all the effort and money you have put into advertising your Facebook page to collect fans is not providing a justified return on investment (ROI)- the reason for this is because Facebook essentially now wants page admins to advertise further. Marketers cannot now reach a sizable percentage of their Facebook page fans unless they advertise on each update they publish. This implies that the good old days of needing only interesting content to market your b</p>
  </div>
 </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}