{% extends './templates/layout-detail.html' %}
{% set title = "Intigral | Projects " %}
{% set style = "style.css" %}
{% set bodyclass = "page-projectThree" %}

{% block content %}
<style type="text/css">
 .page-projectThree .inner-banner {
  background-image: url('../images/dawri-internal-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }
 @media all and (max-width: 479px) {
  .page-projectThree .inner-banner {
   background-image: url('../images/m-dawri-bg.png');
   height: 320px;
  }
 }
 @media all and (min-width: 480px) and (max-width: 767px) {
  .page-projectThree .inner-banner {
   background-image: url('../images/m-dawri-bg.png');
   height: 320px;
  }
 }
 @media all and (min-width: 1920px) and (max-width: 2499px) {
  .page-projectThree .inner-banner {
   background-image: url('../images/dawri-internal-banner-2560.png');
  }
 }
 @media all and (min-width: 2500px) {
  .page-projectThree .inner-banner {
   background-image: url('../images/dawri-internal-banner-2560.png');
  }
 }
 .inner-banner .product-logo.dawriplus {
  background-image: url('../images/project-dawri-plus-logotype@2x.png');
  background-size: cover;
  background-position: center;
  width: 264px;
  height: 264px;
  background-color: transparent;
  box-shadow: none;
  bottom: -44px;
  left: 12%;
 }
 @media all and (max-width: 479px) {
  .inner-banner .product-logo.dawriplus {
   background-image: url('../images/m-proj-dawri-plus-logotype@2x.png');
   width: 161px;
   height: 161px;
   background-size: cover;
   background-position: center;
   left: 0;
   position: relative;
  }
 }
 @media all and (min-width: 480px) and (max-width: 767px) {
  .inner-banner .product-logo.dawriplus {
   background-image: url('../images/m-proj-dawri-plus-logotype@2x.png');
   width: 161px;
   height: 161px;
   background-size: cover;
   background-position: center;
   left: 0;
   position: relative;
  }
 }
 @media all and (min-width: 768px) and (max-width: 991px) {
  .inner-banner .product-logo.dawriplus {
   background-image: url('../images/tab-project-dawri-plus-logotype@2x.png');
   width: 217px;
   height: 217px;
  }
 }
 @media all and (min-width: 992px) and (max-width: 1199px) {
  .inner-banner .product-logo.dawriplus {
   background-image: url('../images/tab-project-dawri-plus-logotype@2x.png');
   width: 217px;
   height: 217px;
  }
 }
</style>
<div class="inner-wrapper">
 <div class="inner-banner">
  <div class="product-logo dawriplus">
<!--   <img src="images/dawri-plus-logo.png" alt="" />-->
  </div>
 </div>
 <div class="inner-content">
  <div class="detail-page-arrow">
   <img src="images/scrolldown.png" alt="" />
  </div>
  <div class="inner-copy">
   <div class="inner-social">
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/twetter-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 255</a>
     </div>
    </div>
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/linkedin-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 177</a>
     </div>
    </div>
    
   </div>
   <h2>The leading digital platform for sports video and fan engagement</h2>
   
   <section>
    <div class="full-block">
     <p>Dawri Plus is a leading digisports platform for delivering live match streaming and creating unique fan engagements. It allows fans to be part of the game, experiencing Saudi football anywhere, at any time, on any device.</p>
     <p>Through Dawri Plus, STC (Saudi Telecom Company) activates its digital sports rights with an innovative OTT solution tailored around the passion of its customers for football. The platform enables customers to watch games while enjoying an immersive second screen experience with inbuilt fantasy gaming and social media interactivity.</p>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="detail-img">
      <img src="images/dp-features.png" alt="" />
     </div>
     <h4>Features</h4>
     <div class="full-block">
      <span>Dawri Plus gives sports fans everything they need to enjoy the ultimate digital sports viewing experience. It is a multi-platform solution that supports video streaming as well as a wide range of user functionalities across web, tablet, mobile and apps. 
      </span>
     </div>
     <div class="full-block">
      <p>Our advanced media player with playback (DVR) functions and overlays gives viewers superior control, while the engaging second screen proposition provides live stats, commentary and social media integration. 
      </p>
     </div>
     <div class="half-block">
      <div class="detail-img left">
       <img src="images/im-580.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>To complement the football experience and increase fan engagement, Dawri Plus comes with a variety of gaming features, including fantasy football, score predictor and line-up predictor.
      </p>
      <p>
       The comprehensive stats, including fixtures, results and standings, are available for both live and on and video. 
      </p>
      <p>The platform also comes with integrated marketing capabilities including mass and targeted SMS notifications with rapid push and deep linking, and SMS/MMS subscriptions to the latest news, videos and rich media content.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Turkney Solution</h4>
     <div class="full-block">
      <p>The Intigral team has extensive knowledge and deep expertise in the sports industry.  We support our clients across all aspects of the sports value chain, from developing impactful digital products to integrating and executing online and offline marketing activations.</p>
      <p>Upstream, we help rights holders and brands develop their sports business proposition – from commercial and financial projections, to setting KPIs, and negotiating rights. We then spearhead product development, technology, content, video operations, measurement and analytics. Finally, we take care of all our clients’ marketing needs, from digital marketing and advertising to social media and on-ground activations.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Specifications</h4>
     <div class="half-block">
      <p>Dawri Plus is a best-in-class solution built to offer STC customers the highest quality experience at home and on the go. </p>
      <p>The product has been designed with a sports tailored UI/UX and seamlessly delivers live streaming and on-demand solutions on the web and via native iOS and Android apps. Video is delivered with low buffer rates and start up times, and high content availability is guaranteed. </p>
     </div>
     <div class="half-block">
      <p>To enhance the user experience we provide a single sign-on engine across platforms, including user profiles.</p>
      <p>A key to the success of Dawri Plus is the in-depth analytics engine with advanced user behavior tracking capabilities, through which we draw insights to continuously improve the user experience.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="full-block">
      <div class="detail-img">
       <img src="images/dawri-im-04.png" alt="" />
      </div>
     </div>
     <h4>Technology</h4>
     <div class="half-block">
      <p>Dawri Plus is powered by the Intigral cloud-based platform, which enables not only high-performance streaming and features, but also the ability to scale deployment with customization. </p>
      <p>The customized content management system is tailored for sports and ensures that keeping content up-to-date is a simple process. </p>
     </div>
     <div class="half-block">
      <p>The viewing experience is enhanced through the advanced and secured video player, which supports adaptive streaming (HLS and HDS), and the recommendation engine which adds a personalization factor.</p>
      <p>To keep customers engaged, our platform also comes with a robust social media networks aggregator and powerful gaming engine.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Operations</h4>
     <div class="half-block">
      <p>The Intigral operations team is central to providing a best-in-class experience to Dawri Plus users. Headquartered in our state-of-the-art Master Control Room and Network Operations Center, the team manages the content retrieval, processing and delivery of all video assets. </p>
      <p>They implement stringent quality controls throughout the process, monitor platform performance, and</p>
     </div>
     <div class="half-block">
      <p>ensure the highest level of content availability and delivery.</p>
      <p>Our enterprise-grade live video expertise and capabilities set us apart as one of the few providers with the technology and resources to manage the full suite of live match and VOD operations.</p>
     </div>
     <div class="full-block">
      <div class="info-block">
       For more information, please visit our dedicated video operations page. 
      </div>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="half-block">
      <h4>Delivery</h4>
      <span>In all aspects of the delivery process, the Intigral team focuses on achieving the highest quality stream possible without creating excess load on networks. </span>
     </div>
     <div class="half-block">
      <div class="detail-img right">
       <img src="images/dawri-im-05.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>Content for Dawri Plus is encoded using the latest High Efficiency Video Coding (HEVC) format before being encrypted with multiple Digital Rights Management (DRM) solutions to ensure security across all our supported devices. The content is then delivered using adaptive streaming technology to </p>
     </div>
     <div class="half-block">
      <p>ensure users achieve the best possible experience for their available bandwidth.</p>
      <p>Video is delivered through a managed CDN network to improve data flows, minimize delivery times, and enhance the customer experience while managing network traffic.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="full-block">
     <h4>Analytics</h4>
     <p>Dawri Plus comes with advanced, cross-platform user-centric analytics and audience measurement tools which allow us to track customer behavior and content consumption. All this data, combined with the insights our experienced team provides, enables us to monitor and adapt to trends while offering the best viewing experience.</p>
     <p>Integrated into the platform, and as part of our operations, we continually monitor and measure the system and video health, ensuring maximum performance throughout the complete process and across different viewing devices. 
     </p>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="full-block">
      <div class="detail-img">
       <img src="images/dawri-im-06.png" alt="" />
      </div>
     </div>
     <h4>Monetization</h4>
     <div class="half-block">
      <p>Dawri Plus not only increases brand loyalty with compelling content, it also offers additional revenue generation opportunities through built-in co-branding and advertising features.</p>
     </div>
     <div class="half-block">
      <p>For telcos, the bundling of broadband with high quality live sports content offers a crucial point of differentiation, enhancing brand value, customer retention, product loyalty and customer acquisition.
      </p>
     </div>
    </div>
   </section>
   
  </div>
 </div>
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>
{% endblock %}

{% block footer %}
{% endblock %}