{% extends './templates/layout-detail.html' %}
{% set title = "Intigral | Projects " %}
{% set style = "style.css" %}
{% set bodyclass = "page-projectTwo" %}

{% block content %}
<style type="text/css">
 /*DCB*/
 .page-projectTwo .inner-banner{
  height: 218px; 
  background-image: url('images/service-dcb-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2c3a4f;
  position: relative;
 }
 @media all and (max-width: 479px) {
  .page-projectTwo .inner-banner{
   height: 276px;
  }
 }
</style>
<div class="inner-wrapper">
 <div class="inner-banner">
  <div class="inner-title">
   DCB
  </div>
 </div>
 <div class="inner-content">
  <div class="inner-copy">
   <div class="inner-social">
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/twetter-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 255</a>
     </div>
    </div>
    
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/linkedin-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 177</a>
     </div>
    </div>
    
   </div>
   
   <section>
    <div class="full-block">
     <h4>The region’s simplest and most trusted DirectCarrier Billing solution</h4>
     <p>The Intigral Direct Carrier Billing (DCB) solution is one of the region’s leading mobile payments services, enabling our partners to quickly go to market and extend their reach throughout MENA. </p>
     <p>Our full service managed approach, leveraging our own platform, simplifies the process for merchants and operators, facilitating debit transactions and enabling our partners to easily profile their target markets, launch services and reach desired customers.</p>
     <p>We are a one-stop-shop that quickly connects digital merchants, billing aggregators and OEM app stores to multiple operators.</p>
    </div>
   </section>
   
   <section>
    <div class="full-block">
     <div class="detail-img">
      <img src="images/dcb-service-vod-02.png" alt="" />
     </div>
    </div>

    <div class="full-block">
     <h4>Partners Management</h4>
     <span>The Intigral network of DCB partners is one of the largest in the region. Acting as the single point of contact for our clients, we manage the full relationship between OEM stores, billing aggregators, digital merchants and operators.
     </span>
    </div>

    <div class="full-block">
     <div class="half-block">
      <p>Our connected partners include world-renowned app stores like Google Play, Samsung Galaxy store, Microsoft Windows store, BlackBerry App World and BBM, along with the top international and local mobile payment aggregators and many other digital merchants. 
      </p>
     </div>
     <div class="half-block">
      <p>As the DCB master aggregator for STC (Saudi Telecom Company) Group, we are uniquely positioned to develop key strategic partnerships for content owners and service providers, giving them unparalleled marketing and monetization opportunities to effectively reach their target audiences 
      </p>
     </div>
    </div>

    <div class="full-block">
     <ul class="clients-list">
      <li>
       <span><img src="images/logo-01.png" alt="" /></span>
      </li>
      <li>
       <span><img src="images/logo-02.png" alt="" /></span>
      </li>
      <li>
       <span><img src="images/logo-03.png" alt="" /></span>
      </li>
      <li class="white">
       <span><img src="images/logo-04.png" alt="" /></span>
      </li>
      <li>
       <span><img src="images/logo-05.png" alt="" /></span>
      </li>
      <li class="white">
       <span><img src="images/logo-07.png" alt="" /></span>
      </li>
      <li>
       <span><img src="images/logo-01.png" alt="" /></span>
      </li>
      <li>
       <span><img src="images/logo-02.png" alt="" /></span>
      </li>
      <li>
       <span><img src="images/logo-03.png" alt="" /></span>
      </li>
      <li class="white">
       <span><img src="images/logo-04.png" alt="" /></span>
      </li>
      <li>
       <span><img src="images/logo-05.png" alt="" /></span>
      </li>
     </ul>
    </div>

    <div class="full-block">
     <div class="half-block">
      <p>We simplify the transaction process by providing a one-time, direct technical integration with the top telcos in the MENA region. Our experienced team directly manages the technical development, integration, testing and deployment with all our DCB partners.</p>
      <p>The Intigral DCB solution enables transactional and subscription-based charging through tailored models, powered by multiple currency and pricing principles.  We integrate to leading platforms (mobile, WAP and web) through page flows that provide unique </p>
     </div>
     <div class="half-block">
      <p>branding opportunities for the digital merchant and telco, while our smooth user-experience increases purchase conversion rates with minimal customer clicks.</p>
      <p>By managing all aspects of the DCB billing and payment process (reporting, revenue assurance, settlement and reconciliation), we remove the burden from digital merchants, content providers and operators, enabling them to focus on the growth of their core business. </p>
     </div>
    </div>
   </section>
   
   <section>
   <div class="full-block">
    <h4>Analytics</h4>
    <p>Intigral leverages leading analytics and intelligence tools to enable digital merchants and content providers to improve their sales and reach. Our team regularly provides dedicated web-based reporting, predictive modelling scenarios and in-depth customer behaviour analysis. 
    </p>
   </div>
   
   <div class="full-block">
    <div class="detail-img">
     <img src="images/dcb-service-vod-01.png" alt="" />
    </div>
   </div>
   </section>
   <section>
   <div class="full-block">
    <h4>Reach</h4>
    <span>Our extensive MENA network of business ready operator integrations enables our clients to quickly grow their sales and reach across a large audience; and as the master DCB service aggregator for the STC Group, we provide unique access to the region’s largest market.
    </span>
   </div>
   
   <div class="full-block">
    <div class="info-block">
     <ul class="info-followers">
      <li>
       <div class="numbers">
        7M+
       </div>
       <div class="text">
        Transactions
       </div>
      </li>
      <li>
       <div class="numbers">
        50+
       </div>
       <div class="text">
        Partners
       </div>
      </li>
      <li>
       <div class="numbers">
        500+
       </div>
       <div class="text">
        Merchants
       </div>
      </li>
     </ul>
    </div>
   </div>
    
   </section>
   
  </div>
 </div>
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>
{% endblock %}

{% block footer %}
{% endblock %}