{% extends './templates/layout-detail.html' %}
{% set title = "Intigral | VAS" %}
{% set style = "style.css" %}
{% set bodyclass = "page-VAS" %}

{% block content %}
<style type="text/css">
 /*VAS*/
 .page-VAS .inner-banner{
  height: 218px; 
  background-image: url('images/service-vas-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2c3a4f;
  position: relative;
 }
 @media all and (max-width: 479px) {
  .page-VAS .inner-banner{
   height: 276px;
  }
 }
</style>
<div class="inner-wrapper">
 <div class="inner-banner">
  <div class="inner-title">
   VAS 
  </div>
 </div>
 <div class="inner-content">
  <div class="inner-copy">
   <div class="inner-social">
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/twetter-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 255</a>
     </div>
    </div>
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/linkedin-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 177</a>
     </div>
    </div>

   </div>
   <div class="full-block">
    <h4>Digital Services</h4>
    <span>The accumulated experience and expertise of our team, across numerous businesses and industries, enables us to deliver industry-leading products and services that differentiate our partners from the competition.
    </span>
    
    <div class="digital-serv">
     <div class="large-block">
      <div class="half-block">
       <h3 class="operators">Operators</h3>
       <ul>
        <li>Premium Content</li>
        <li>Top-Notch Technology</li>
        <li>Active Account Management</li>
        <li>Large providers base</li>
        <li>Preferred deals</li>
        <li>Capex - Opex Saving</li>
        <li>Payment and Reporting</li>
       </ul>
       
       <h3 class="partners">Partners</h3>
       <ul>
        <li>Access to numerous Operators</li>
        <li>Marketing Support</li>
        <li>Srategic Partnership</li>
        <li>Single point of Integration</li>
        <li>Content Operation</li>
        <li>Product Development</li>
        <li>Reporting and Analytics</li>
       </ul>
       
      </div>
      
      <div class="half-block">
       <div class="digital-serv-icon">
        <img src="images/graph-illustration.png" alt="" />
       </div>
      </div>
      
     </div>
    </div>
    
   </div>

  </div>
 </div>
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>
{% endblock %}

{% block footer %}
{% endblock %}