{% extends './templates/layout-detail.html' %}
{% set title = "Intigral | Sports Marketing" %}
{% set style = "style.css" %}
{% set bodyclass = "page-sports-market" %}

{% block content %}
<style type="text/css">
 /*Sports Marketing*/
 .page-sports-market .inner-banner{
  height: 218px; 
  background-image: url('images/service-sport-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2c3a4f;
  position: relative;
 }
 @media all and (max-width: 479px) {
  .page-sports-market .inner-banner{
   height: 276px;
  }
 }
</style>
<div class="inner-wrapper">
 <div class="inner-banner">
  <div class="inner-title">
   Sports Marketing 
  </div>
 </div>
 <div class="inner-content">
  <div class="inner-copy">
   <div class="inner-social">
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/twetter-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 255</a>
     </div>
    </div>
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/linkedin-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 177</a>
     </div>
    </div>

   </div>
   <div class="full-block">
    <h4>Testimonials</h4>
    
    <div class="testimonials">
     <div class="testimonials-commas">
      As part of the Intigral commitment to provide the full range of services to clients, we also offer creative services to develop marketing material for video content. 
     </div>
     <div class="testimonials-copy">
      <h6>Husain Al Yami</h6>
      <p>Head of Sports Investments,<br />HTC</p>
     </div>
    </div>
    
    <div class="testimonials">
     <div class="testimonials-commas">
      Working with Intigral Sports has been an insightful experience. The mix of expertise across digital, activation, creative and content has meant that we’ve been able to explore a much broader range of activations.  Intigral is much more than a delivery function, offering actionable insights, strategic direction and robust measurements.
     </div>
     <div class="testimonials-copy">
      <h6>David Callan</h6>
      <p>Associate Relationship Director,<br />Manchester United</p>
     </div>
    </div>
    
    <div class="testimonials">
     <div class="testimonials-commas">
      Octagon has worked on a number of projects with Intigral Sports and has found them to be at the leading edge in their field. They are some of the smartest people in the technology space and offer the highest levels of professionalism.
     </div>
     <div class="testimonials-copy">
      <h6>Phil Carling</h6>
      <p>Managing Director,<br />Octagon</p>
     </div>
    </div>
    
   </div>

  </div>
 </div>
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>
{% endblock %}

{% block footer %}
{% endblock %}