{% extends './templates/layout-detail.html' %}
{% set title = "Intigral | Projects " %}
{% set style = "style.css" %}
{% set bodyclass = "page-projectOne" %}

{% block content %}

<style type="text/css">
 .page-projectOne .inner-banner {
  background-image: url('../images/rockettv-internal-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }
 @media all and (max-width: 479px) {
  .page-projectOne .inner-banner {
   background-image: url('../images/m-rockettv-bg.png');
   height: 320px;
  }
 }
 @media all and (min-width: 480px) and (max-width: 767px) {
  .page-projectOne .inner-banner {
   background-image: url('../images/m-rockettv-bg.png');
   height: 320px;
  }
 }
 @media all and (min-width: 1920px) and (max-width: 2499px) {
  .page-projectOne .inner-banner {
   background-image: url('../images/rockettv-internal-banner-2560.png');
  }
 }
 @media all and (min-width: 2500px) {
  .page-projectOne .inner-banner {
   background-image: url('../images/rockettv-internal-banner-2560.png');
  }
 }

 .inner-banner .product-logo.rocketTV {
  background-image: url('../images/proj-rocket-logo@2x.png');
  background-size: cover;
  background-position: center;
  width: 348px;
  height: 184px;
  background-color: transparent;
  box-shadow: none;
  bottom: -44px;
  left: 12%;
 }
 @media all and (max-width: 479px) {
  .inner-banner .product-logo.rocketTV {
   background-image: url('../images/m-proj-rocket-logo@2x.png');
   width: 233px;
   height: 135px;
   background-size: cover;
   background-position: center;
   left: 0;
   position: relative;
  }
 }
 @media all and (min-width: 480px) and (max-width: 767px) {
  .inner-banner .product-logo.rocketTV {
   background-image: url('../images/m-proj-rocket-logo@2x.png');
   width: 233px;
   height: 135px;
   background-size: cover;
   background-position: center;
   left: 0;
   position: relative;
  }
 }
 @media all and (min-width: 768px) and (max-width: 991px) {
  .inner-banner .product-logo.rocketTV {
   background-image: url('../images/tab-proj-rocket-logo@2x.png');
   width: 275px;
   height: 153px;
  }
 }
 @media all and (min-width: 992px) and (max-width: 1199px) {
  .inner-banner .product-logo.rocketTV {
   background-image: url('../images/tab-proj-rocket-logo@2x.png');
   width: 275px;
   height: 153px;
  }
 }
</style>
<div class="inner-wrapper">
 <div class="inner-banner">
  <div class="product-logo rocketTV">
<!--   <img src="images/rockettv-logo.png" alt="" />-->
  </div>
 </div>
 <div class="inner-content">
  <div class="detail-page-arrow">
   <img src="images/scrolldown.png" alt="" />
  </div>
  <div class="inner-copy">
   <div class="inner-social">
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/twetter-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 255</a>
     </div>
    </div>
    
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/linkedin-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 177</a>
     </div>
    </div>
    
   </div>
   <h2>The next generation PayTV solution for telcos</h2>
   
   <section>
    <div class="full-block">
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     <p>We have developed a powerful cloud based platform capable of delivering high quality video to client apps and devices. Rocket TV is an IPTV/OTT multi-screen solution which has been developed with a focus on “plug-and-play” for both the consumer and the telco.</p>
     <p>With Rocket TV, telcos can easily deliver a live and on demand interactive viewing experience to customers, including a full range of premium content and built-in features to enrich their experience, drive deeper customer brand loyalty and maximize revenue generation opportunities.</p>
     <div class="detail-img">
      <img src="images/rockettv-device-one.png" alt="" />
     </div>
    </div>
    <div class="half-block">
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
    </div>
    <div class="half-block">
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Features</h4>
     <div class="half-block">
      <p>We have developed a powerful cloud based platform capable of delivering high quality video to client apps and devices. Rocket TV is an IPTV/OTT multi-screen solution which has been developed with a focus on “plug-and-play” for both the consumer and the telco.</p>
      <div class="detail-img left">
       <img src="images/service-vod-04.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     </div>
     <div class="half-block list">
      <h5>Other features include:</h5>
      <ul>
       <li>Parental controls</li>
       <li>Up to seven days rewind on live channels</li>
       <li>Watchlist</li>
       <li>Search</li>
       <li>Multi-screen</li>
       <li>Social media sharing </li>
       <li>On box subscriptions</li>
      </ul>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Turkney Solution</h4>
     <div class="half-block">
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     </div>
     <div class="half-block">
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     </div>

    </div>
   </section>
   
  <section>
   <div class="large-block">
    <h4>Specifications</h4>
    <div class="half-block">
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
    </div>
    <div class="half-block">
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
    </div>
   </div>
   </section>
   
  <section>
   <div class="large-block">
    <div class="full-block">
     <div class="detail-img">
      <img src="images/dawri-im-06.png" alt="" />
     </div>
    </div>
    <h4>Technology</h4>
    <div class="half-block">
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
    </div>
    <div class="half-block">
     <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
    </div>
   </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="full-block">
      <div class="detail-img">
       <img src="images/service-vod-05.png" alt="" />
      </div>
     </div>
     <h4>Operations</h4>
     <div class="half-block">
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     </div>
     <div class="half-block">
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     </div>
     <div class="full-block">
      <div class="info-block">
       For more information, please visit our dedicated video operations page. 
      </div>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="half-block">
      <h4>Delivery</h4>
      <span>In all aspects of delivery, from satellite downlink through to video playback, we focus on ensuring your customers get the highest quality video stream possible without creating excess load on your networks.
      </span>
     </div>
     <div class="half-block">
      <div class="detail-img right">
       <img src="images/dawri-im-06.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>Video is encoded using the latest High Efficiency Video Coding (HEVC) format before being encrypted with multiple, studio approved Digital Rights Management (DRM) solutions to ensure content security across all our supported devices.  Video is then delivered using adaptive streaming technology to ensure users achieve the best possible experience for their available bandwidth without the need for buffering.</p>
     </div>
     <div class="half-block">
      <p>To further enhance delivery and manage the network data flows, we use our private multi-CDN network. The master CDN is positioned close to our Video Operations centre, and the network CDNs are strategically placed to minimize the data load on our clients’ networks.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="full-block">
     <div class="detail-img">
      <img src="images/dawri-im-06.png" alt="" />
     </div>
    </div>

    <div class="full-block">
     <h4>Analytics</h4>
     <span>We recognize the value of data; not only to optimize performance, but also to better understand customers and deliver more tailored viewing experiences. That’s why Rocket TV comes with detailed analytics and live audience measurement tools, enabling us to support our clients throughout the whole customer lifecycle.</span>
    </div>
    <div class="half-block">
     <p>Starting with the system and video health data, the Intigral team monitors and manages performance at every level to ensure the most effective delivery of video to viewers. Our analytics on viewer behaviour across all devices helps create actionable insights in order to increase customer satisfaction and identify new  opportunities for revenue generation.  In addition, we are able to provide our clients with detailed financial reports across all aspects of monetization including VOD purchases and subscription.</p>
    </div>
    <div class="half-block">
     <p>All this data, combined with the insights our expert teams provide, enables us to monitor and adapt to trends in order to continually offer the best IPTV/OTT experience to viewers, while furthering revenue generation opportunities for our clients.
     </p>
    </div>
   </section>
   
   
   <section>
    <div class="full-block">
     <div class="detail-img">
      <img src="images/dawri-im-06.png" alt="" />
     </div>
    </div>

    <div class="large-block">
     <h4>Monetization</h4>
     <div class="half-block">
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     </div>
     <div class="half-block">
      <p>Rocket TV is a best of breed, next generation pay TV solution that enables telcos to monetize their broadband while giving their customers a product they will love.</p>
     </div>
    </div>

   </section>
   
   
  </div>
 </div>
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>
{% endblock %}

{% block footer %}
{% endblock %}