{% extends './templates/layout-home.html' %}
{% set title = "Intigral | Homepage " %}
{% set style = "style.css" %}

{% block content %}
<div class="scroll-down">
 <ul id="nav">
  <li data-menuanchor="secondPage">
   <a href="#secondPage" class="arrow-down">
    <img src="images/scrolldown.png" alt="" />
   </a>
  </li>
 </ul>
</div>

<div id="fullpage">
 <div class="section" id="section0">
  
  <div class="slide">
   <div class="rocket-tv">
    <section class="content">
     <h2 class="rocket-title"></h2>
     <p class="title">The next generation PayTV solution for telcos</p>
     <div class="avail-on">
      <h4>Available on:</h4>
      <div class="devices">
       <span class="avail-tv"></span>
       <span class="avail-ipad"></span>
       <span class="avail-iphone"></span>
      </div>
      <div class="stores newIcons">
       <span class="ios"></span>
       <span class="android"></span>
      </div>
     </div>
     <div class="callouts">
      <a href="#" class="more-details">MORE DETAILS
       <span><img src="images/dots-images.png" alt="" /></span>
      </a>
      <a href="#" class="watch-video">Watch Video
       <span>&nbsp;</span>
      </a>
     </div>
    </section>
    <div id="setupbox"></div>
    <div id="setupbox-remote"></div>
   </div>
  </div>
  
  <div class="slide">
   <div class="dawriplus">
    <section class="content">
     <h2 class="dawri-title"></h2>
     <p class="title">The leading digital platform for sports</p>
     <div class="avail-on">
      <h4>Available on:</h4>
      <div class="devices">
       <span class="avail-desktop"></span>
       <span class="avail-ipad"></span>
       <span class="avail-iphone"></span>
      </div>
      <div class="stores">
       <span class="ios"></span>
      <span class="android"></span>
      </div>
     </div>
     <div class="callouts">
      <a href="#" class="more-details">MORE DETAILS
       <span><img src="images/dots-images.png" alt="" /></span>
      </a>
      <a href="#" class="watch-video">Watch Video
       <span>&nbsp;</span>
      </a>
     </div>
    </section>
    <div id="dawri-ipad"></div>
    <div id="dawri-iphone"></div>
   </div>
  </div>
  
  <div class="slide">
   <div class="dcb">
    <section class="content">
     <h2 class="dcb-title"></h2>
     <p class="title">The region’s simplest and most trusted Direct Carrier Billing solution</p>
     <div class="avail-on">
      <div class="callouts">
       <a href="#" class="more-details">MORE DETAILS
        <span><img src="images/dots-images.png" alt="" /></span>
       </a>
      </div>
     </div>
    </section>
   </div>
  </div>
  
 </div>
 <div class="section" id="section1">
  <div class="wrapper">
   <section class="video-operations">
    <h2>Video Operations</h2>
    <p>The operations team are the nerve centre of Intigral, managing the full suite of services from our state-of-the-art Master Control Room and Network Operations Centre.
    </p>
    <div class="video-blocks">
     <div class="block">
      <div class="block-image">
       <img src="images/video-operation1.png" alt="" class="main-banner" />
       <span><a href="#"><img src="images/arrow-icon.png" alt="" /></a></span>
      </div>
      <h3><a href="#">Live &amp; Video on Demand</a></h3>
      <span><a href="#">Our enterprise-grade live and VOD capabilities set us apart from the competition as one of the few providers with the technology and resources to manage the full suite of operations.</a></span>
     </div>
     
     <div class="block second">
      <div class="block-image">
       <img src="images/video-operation2.png" alt="" class="main-banner" />
       <span><a href="#"><img src="images/arrow-icon.png" alt="" /></a></span>
      </div>
      <h3><a href="#">Content Management</a></h3>
      <span><a href="#">Taking care of everything from content acquisition to rights management and processing; and our team deals directly with all major studios around the world to secure up-to-date content for you and your customers.</a></span>
     </div>
     
     <div class="block third">
      <div class="block-image">
       <img src="images/video-operation3.png" alt="" class="main-banner" />
       <span><a href="#"><img src="images/arrow-icon.png" alt="" /></a></span>
      </div>
      <h3><a href="#">Media Delivery
       and CDNs</a></h3>
      <span><a href="#">Throughout the entire process, from the latest encoding formats to our private CDN, we ensure your customers enjoy the best viewing experience while effectively managing your network traffic.</a></span>
     </div>
     
    </div>
    <div class="video-button">
     <a href="#" class="more-details">MORE DETAILS
      <span><img src="images/dots-images.png" alt="" /></span>
     </a>
    </div>
   </section>
  </div>
 </div>
 <div class="section" id="section2">
  <div class="wrapper">
   <section class="clients-section">
    <h2>Clients and Partners</h2>
    <p>Our long-standing and successful relationships with industry leaders around the globe is a cornerstone of our success. 
    </p>
    <ul class="clients-list">
     <li>
      <span><img src="images/fox-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/akamai-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/broadpeak-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/marvel-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/mbc-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/osn-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/starzplay-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/verimatrix-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/theplatform-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/sony-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/stc-white.png" alt="" /></span>
     </li>
     <li>
      <span><img src="images/viva-white.png" alt="" /></span>
     </li>
    </ul>
   </section>
  </div>
  <footer>
   <p>2016 &copy; Intigral. All rights reserved</p>
  </footer>
 </div>
</div>

<!-- Home Video Overlay Start 
<div class="home-overlay">
 <div class="home-overlay-content">
  <div class="home-overlay-copy">
   <div class="home-overlay-close">
    <span class="closebtn"><img src="images/home-close-icon.png" alt="" /></span>
   </div>
   <link href="http://development.intigral.net/assets/css/videojs/video-js.css" rel="stylesheet">
   <style type="text/css">
    .video-js .vjs-big-play-button {
     border: none;
     font-size: 5em;
    }
    .video-js{
     width: 100%;
    }
    .vjs-poster{
     width: 100%;
     background-image: url("http://development.intigral.net/upload/videos/sports/sports_mrkting.jpg") !important;
     background-size: cover !important;
    }
   </style>
   <video class="video-js vjs-big-play-centered detail-img" controls preload="auto"
          poster="" data-setup="{}">
    <source src="http://development.intigral.net/upload/videos/sports/sports_mrkting.mp4" type='video/mp4'>
    <p class="vjs-no-js">
     To view this video please enable JavaScript, and consider upgrading to a web browser that
     <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
   </video>
   <script src="http://development.intigral.net/assets/js/videojs/video.js"></script>
  </div>
 </div>
</div>
 Home Video Overlay End -->

{% endblock %}

{% block footer %}
{% endblock %}