{% extends './templates/layout-detail.html' %}
{% set title = "Intigral | Video Operations " %}
{% set style = "style.css" %}
{% set bodyclass = "page-video-operations" %}

{% block content %}
<style type="text/css">
 /*Video Operations*/
 .page-video-operations .inner-banner{
   height: 218px; 
   background-image: url('images/video-operation-header.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #2c3a4f;
   position: relative;
 }
 @media all and (max-width: 479px) {
  .page-video-operations .inner-banner{
   height: 276px;
  }
 }
</style>
<div class="inner-wrapper">
 <div class="inner-banner">
  <div class="inner-title">
   Video Operations
  </div>
 </div>
 <div class="inner-content">
  <div class="inner-copy">
   <div class="inner-social">
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/twetter-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 255</a>
     </div>
    </div>
    <div class="inner-social-block">
     <div class="icon">
      <a href="#"><img src="images/linkedin-button.png" alt="" /></a>
     </div>
     <div class="counter">
      <a href="#">+ 177</a>
     </div>
    </div>
    
   </div>
   
   <section>
    <div class="full-block">
     <h4>Overview</h4>
     <p>Based in our state-of-the-art Master Control Room and Network Operations Centre, the operations team are the nerve centre of the organisation. They manage a full suite of services, from content acquisition to digitization, EPG &amp; editorial, censorship, encoding, encryption, delivery, health monitoring and creative services for content promotion.
     </p>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Live &amp; VOD</h4>
     <div class="half-block">
      <p>Our enterprise-grade live and VOD capabilities set us apart from the competition as one of the few providers with the technology and resources to manage the full suite of operations.</p>
      <p>Intigral’s engineers implement the live content process from end-to-end, starting with downlinking to censoring, processing, encoding, transcoding and streaming. We have the ability to record any TV channel from downlink, and guarantee uptime through backup sources. </p>
     </div>
     <div class="half-block">
      <p>For delivery, we encode our live video content using sophisticated compression technology that utilises the latest generation of codecs. We deliver premium quality at low bitrates to ensure an optimal viewing experience while reducing the strain on data networks.  </p>
      <p>We can tailor delivery options for our clients across public or private CDNs, satellite or OTT and IPTV.</p>
     </div>
     <div class="full-block">
      <div class="detail-img">
       <img src="images/service-vod-01.png" alt="" />
      </div>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Assets Processing</h4>
     <div class="half-block">
      <p>Our video operations team manages the acquisition of video content and the processing of the raw video assets into a form tailor-made to our clients’ commercial purposes.</p>
      <p>Whether this is for video on demand, live linear broadcast or archiving, Intigral has the technical solution, experience, creativity and team to acquire content and process it based on our clients’ needs.
      </p>
     </div>
     <div class="half-block">
      <p>Our asset management extends to receiving from and delivering to any platform (Aspera, SmartJog, FTP, CDN, Satellite and Tape), state-of-the-art mirrored storage facilities, adaptive bitrate encoding/packaging for virtually any input/output format, open/closed subtitle management, creative services and archiving support.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Electronic Program Guide</h4>
     <div class="full-block">
      <span>One of the central pillars of modern day PayTV viewing experiences is a user friendly and dynamic electronic program guide. </span>
     </div>
     <div class="full-block">
      <p>At Intigral, our EPG team sources, creates, edits, and manages EPG data across all channels, and manages metadata of video-on-demand assets in multiple languages. To help ensure the best viewing experience, we have a dedicated editorial team responsible for producing customised EPG content.</p>
      <p>In addition to working with our clients’ EPGs, we have created an interactive and content-rich EPG designed to offer an industry-leading user experience, allowing viewers to easily navigate scheduling information and select and discover programming faster and in greater detail.
      </p>
     </div>
     <div class="full-block">
      <div class="detail-img">
       <img src="images/service-vod-04.png" alt="" />
      </div>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Censorship &amp; Editing</h4>
     <div class="half-block">
      <p>Censorship and editing are crucial components of broadcast services in the region, and with our extensive experience, we have a proven track record of excellence.</p>
      <p>The Intigral in-house 24/7 operations team performs quality control and censorship editing on live TV and VOD, allowing us to a deliver flawless content flow to viewers.
      </p>
     </div>
     <div class="half-block">
      <p>We also provide our clients with a comprehensive censorship audit (video and audio) to identify themes or scenes deemed unsuitable for the region or country.
      </p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Creative Services</h4>
     <div class="full-block">
      <span>As part of the Intigral commitment to provide the full range of services to clients, we also offer creative services to develop marketing material for video content. 
      </span>
     </div>
     <div class="half-block">
      <div class="detail-img left">
       <img src="images/service-vod-05.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>Our creative team edits trailers, creates and edits TVCs, develops dubbing and voice-overs, and specialises in special effects. We also create informational and promotional videos for products, services and content. 
      </p>
      <p>
       For movies and series, we have extensive experience in creating promotional campaigns which include web and print banners, posters, collateral, and on-air or on-platform video campaigns (teasers, promos, trailers, stunts).
      </p>
      <p>For clients that require support in developing a brand, the Intigral team of experienced strategists provides expert advice from conceptualization to actualization including logo design & application, brand guidelines and branding collateral.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <h4>Content Management</h4>
     <div class="full-block">
      <span>The Intigral video operations team relieves clients of the burden of managing content directly. </span>
     </div>
     <div class="half-block">
      <p>We coordinate the acquisition plan, budget and strategy, and manage content providers from price negotiations to contractual obligations, content implementation and reporting activities.</p>
      <p>Our services include acquisition of programs and channels from all the major Hollywood, Arabic, Bollywood, and international content suppliers.
      </p>
     </div>
     <div class="half-block">
      <p>We have established relationships with international networks and premium content owners to offer clients the best content to support their strategy.
      </p>
      <p>We then curate, package, price, and market content for all forms of VOD and linear pay TV tiers.</p>
     </div>
    </div>
   </section>
   
   
   <section>
    <div class="large-block">
     <h4>MCR &amp; NOC</h4>
     <div class="full-block">
      <span>The Intigral state-of-the-art Master Control Room (MCR) and Network Operations Centre (NOC) enables us to manage, monitor and analyse our video delivery services – 24/7, 365 days per year.</span>
     </div>
     <div class="full-block">
      <div class="detail-img">
       <img src="images/service-vod-06.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>Our engineers manage all aspects of the technical broadcast and viewer experience from the MCR and NOC command centres. The MCR is responsible for managing content and ensuring continuous operations across the broadcast, while the NOC is responsible for delivering 100 percent uptime on our network operations and video delivery portals.</p>
      <p>The MCR and NOC are the backbone of our extensive and powerful video services which include: Downlinking, encoding, transcoding, and retransmission of satellite feeds, the delivery of VOD assets and multicast (IPTV) and adaptive (OTT) platforms, operation of live multicast anheads for HD and SD linear channel bouquets, 24/7 monitoring of 
      </p>
     </div>
     <div class="half-block">
      <p>channels, re-transmission of VOD services and network PVR and linear rewind functionality.
      </p>
      <p>They also allow us to provide a new level of analytics and measurement, with a world-class monitoring service that includes audience, network and technical insights.</p>
      <p>All our downlink channels are monitored to produce extensive analytics through propriety reporting tools, in addition to remote monitoring and technical performance analysis on the end user experience via individual customer set top boxes. </p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="full-block">
      <h4>Media Delivery &amp; CDNs</h4>
      <div class="half-block">
       <p>The high quality delivery of video to customers is a crucial driver of success. This is why we have invested in the development and implementation of an Intigral-owned, private content delivery network (CDN), ensuring our clients’ customers receive only the best viewing experience while effectively managing network data.</p>
       <p>Our CDN servers are strategically located close to the viewers, with the master CDN located close to our video operations centre. </p>
      </div>
      <div class="half-block">
       <p>The servers on our CDN have been coded by our engineers to optimise video streaming and accelerate delivery.</p>
       <p>When viewers access content through our private CDN, they enjoy faster streaming rates and greater reliability, as well as value-added services like mobile device detection and optimisation.</p>
      </div>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="half-block">
      <h4>Data Centre</h4>
      <span>At Intigral, we take our responsibility of safeguarding and storing client video data very seriously. We have established data centre facilities rated to the highest level of availability, continuity, redundancy and security. </span>
     </div>
     <div class="half-block">
      <div class="detail-img right">
       <img src="images/service-vod-07.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>We currently have more than 2.4 petabytes of data under management, and are fully equipped to scale.</p>
      <p>Our services include local archiving, facilitation of data centre co-location to any third party and coordination of remote storage of assets that are not required for processing.</p>
     </div>
     <div class="half-block">
      <p>coordination of remote storage of assets that are not required for processing.</p>
     </div>
    </div>
   </section>
   
   <section>
    <div class="large-block">
     <div class="full-block">
      <h4>Consulting</h4>
      <span>Intigral’s extensive consultancy services are available for clients to leverage our full range of video operations and delivery expertise. We are the only solution provider in the region who can deliver against the full video delivery operations and value chain.</span>
     </div>
     <div class="full-block">
      <div class="detail-img">
       <img src="images/service-vod-08.png" alt="" />
      </div>
     </div>
     <div class="half-block">
      <p>Our consultants develop video strategies to deliver enterprise-grade experiences focused on revenue generation, network management, and end user experiences.</p>
      <p>The expert Intigral team guides clients on everything from decisions on screens and platforms, to defining </p>
     </div>
     <div class="half-block">
      <p>channels, identifying content sources, creating distribution strategies, and managing video operations and delivery – all complemented by effective go-to-market plans.
      </p>
     </div>
    </div>
   </section>
   
   
  </div>
 </div>
</div>

<footer>
 <p>2016 &copy; Intigral. All rights reserved</p>
</footer>
{% endblock %}

{% block footer %}
{% endblock %}